.campaign {
  .event-grid {
    overflow: hidden;
    .teaser-container {
      &__top {
        @media (max-width: 700px) {
          border-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 700px) and (max-width: 1919px) {
    .product-grid {
      .teaser-content {
        &--third {
          &:nth-of-type(3n - 2) {
            margin-left: -20px;
          }
        }
      }
    }
  }

  @media (min-width: 1920px) {
    .product-grid {
      &__products {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 62px;
        padding-right: 62px;
      }
      .teaser-content {
        &--third {
          width: 25% !important;

          &:nth-of-type(4n - 3) {
            border-bottom: 0;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              height: 1px;
              background: black;
              width: calc(100% - 20px);
            }
          }

          &:nth-of-type(4n) {
            border-bottom: 0;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              height: 1px;
              background: black;
              width: calc(100% - 20px);
            }
          }

          &:nth-of-type(3n) {
            border-right: solid 1px;
          }

          &:nth-of-type(4n) {
            border-right: none;
          }
        }
      }
    }
  }
}
