.eat-drink {
  .services-page {
    .react-tabs__tab-panel {
      margin-left: 0;
      margin-right: 0;
    }
    .tabbed-content {
      .teaser__subject {
        margin-top: 7px !important;
      }
    }
    @media (min-width: 1920px) {
      .tabbed-content--restaurants {
        margin-left: 0;
        margin-right: 0;
      }
      .teaser {
        &__description {
          width: auto;
        }
      }
    }
  }
}
