.services-page {
  .react-tabs {
    &__tab-panel {
      margin-left: 14px;
      margin-right: 14px;

      @media (min-width: 700px) {
        margin-left: 20px;
        margin-right: 20px;
      }
      @media (min-width: 1920px) {
        margin-left: 62px;
        margin-right: 62px;
      }
    }
  }
  .tabbed-content {
    .teaser {
      &__description {
        max-width: 300px;
      }
      &__subject {
        margin-top: 50px;
      }
    }
    .teaser-content {
      &--services {
        @media (min-width: 1920px) {
          &:nth-of-type(4n - 3) {
            padding-left: 49px;
          }
        }

        &:nth-of-type(4n) {
          border-right: 0;
        }
      }
    }
  }
}
