/* Fonts */

/* Muli */
/* Font added in header via Google fonts */

/* Raisonne */
@font-face {
  /* Raisonne - Light */
  font-family: "Raisonne";
  src: url("/static/fonts/raisonne-light-pro.eot");
  src: url("/static/fonts/raisonne-light-pro.eot?#iefix")
      format("embedded-opentype"),
    url("/static/fonts/raisonne-light-pro.woff") format("woff"),
    url("/static/fonts/raisonne-light-pro.woff2") format("woff2"),
    url("/static/fonts/raisonne-light-pro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  /* Raisonne - Demibold */
  font-family: "Raisonne";
  src: url("/static/fonts/raisonne-demibold-pro.eot");
  src: url("/static/fonts/raisonne-demibold-pro.eot?#iefix")
      format("embedded-opentype"),
    url("/static/fonts/raisonne-demibold-pro.woff") format("woff"),
    url("/static/fonts/raisonne-demibold-pro.woff2") format("woff2"),
    url("/static/fonts/raisonne-demibold-pro.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

/* General */
body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Raisonne", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: $weight-demibold;
  letter-spacing: 0;
  line-height: 1.5;
}

p {
  font-size: $font-18px;
  color: $black;
  font-weight: $weight-reg;
  letter-spacing: 0;
  line-height: 1.5;
}

a {
  font-size: $font-18px;
  color: $black;
  font-weight: $weight-reg;
  text-decoration: none;
  cursor: pointer;
  @include transition(all $base-duration ease-out);

  &:hover {
    color: $greyscale-900;
  }
}

/* container */
.container {
  margin-left: 14px;
  margin-right: 14px;

  &-left {
    margin-left: 14px;
  }

  &-right {
    margin-right: 14px;
  }
}

@media only screen and (min-width: $medium-media) {
  .container {
    margin-left: 20px;
    margin-right: 20px;

    &-left {
      margin-left: 20px;
    }

    &-right {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1920px) {
  .container {
    margin-left: 62px;
    margin-right: 62px;

    &-left {
      margin-left: 62px;
    }

    &-right {
      margin-right: 62px;
    }
  }
}

video {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

/* Highlight Colour */
@include selection {
  color: $white;
  background: $black;
}

/* Disable Scroll */
.noscroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;

  &--space-between {
    justify-content: space-between;
    align-items: center;
  }

  &--align-center {
    align-items: center;
  }

  .teaser__span-container {
    display: flex;
    align-items: center;
  }
}

.table {
  &--three-col {
    td {
      width: 33.3333%;
    }
  }
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-container {
  min-width: 100%;
  height: 100%;
}

.grey {
  color: #868686 !important;
}

.underline {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

.disabled-link {
  pointer-events: none;
}

.table-container,
table,
table * {
  &:focus {
    outline: 0;
    border: 0;
  }
}

.button {
  font-family: $muli;
  font-size: 12px;
  color: $white;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  padding: 13px 18px;
  transition: opacity 300ms ease;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 35px;
  transition: all 600ms ease;

  &--black {
    background: $black;
    border: solid 1px $black;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

.view-more {
  font-family: $muli;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  padding-right: 40px;
  line-height: 15px;
  transition: padding 300ms ease;

  &:hover {
    padding-right: 45px;
  }

  &:after {
    content: "";
    background-image: url("/static/images/general/arrow-black.svg");
    position: absolute;
    right: 0;
    width: 30px;
    height: 11px;
    background-repeat: no-repeat;
    top: 55%;
    transform: translateY(-50%);
  }
}

.link {
  &--uppercase {
    text-transform: uppercase;
  }

  &--arrow {
    font-family: $muli;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    padding-right: 40px;
    position: relative;
    display: inline-block;

    img,
    .arrow {
      width: 30px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 0;
      transition: margin 300ms ease;
    }

    &:hover {
      img,
      .arrow {
        margin-right: -5px !important;
      }
    }
  }
}

.campaign {
  .hero {
    margin-bottom: 40px;
  }
}

.page-wrapper {
  &.summer {
    background: $yellow-400;

    .marquee {
      span {
        color: $yellow-400;
      }
    }

    .teaser-container__top .teaser__title h2,
    .tabbed-content .react-tabs__tab--selected h3 {
      color: $yellow-400;
    }

    header #main-header {
      background: $yellow-400;
    }
  }

  &.valentines {
    background: $red-100;

    header #main-header {
      background: $red-100;
    }
    .marquee {
      span {
        color: $red-100;
      }
    }
  }
  // Easter campaign
  &.easter {
    background: $l-green;

    .teaser-container__top .teaser__title h2,
    .tabbed-content .react-tabs__tab--selected h3 {
      color: $l-green;
    }

    header #main-header {
      background: $l-green;
    }
    .marquee {
      span {
        color: $l-green;
      }
    }
  }

  // Back to School Campaign
  &.bts {
    background: $blue;

    .event-grid .teaser-content--half,
    .tabbed-content .react-tabs__tab,
    .tabbed-content--border .tabbed-content__dropdown {
      border-color: $white;
    }

    .teaser__description,
    .teaser__description *:not(.link--arrow) {
      color: $white;
    }

    .teaser__tag {
      border-color: $white !important;
      color: $white !important;
    }

    svg * {
      fill: $white;
    }
    .arrow {
      svg {
        * {
          stroke: $white;
        }
      }
    }
    .teaser-content--services {
      svg {
        * {
          stroke: $white;
          fill: $blue;
        }
      }
    }

    * {
      color: $white;
      border-color: $white;
    }
    header #main-header {
      background: $blue;
    }
    #sub-header {
      background: $black;
      span {
        color: $white;
      }
    }
    header #sub-header #sub-header-close {
      background: $black;
    }
    .menu-section li a {
      &:hover {
        color: $white;
      }
    }
    .teaser-container__top {
      .teaser__title {
        background-color: $white;

        h2 {
          color: $blue;
        }
      }
    }
    .tabbed-content .react-tabs__tab--selected {
      background: $white;

      h3 {
        color: $blue;
      }
    }
    .teaser-content {
      &--third,
      &--fourth {
        border-color: $white;

        &:nth-of-type(2n - 1) {
          border-color: $white;
        }
      }
    }
    .footer {
      * {
        color: $white;
        border-color: $white !important;
      }

      border-color: $white;

      &__section {
        input {
          &::placeholder {
            color: $white;
          }
        }
      }
    }

    .footer__section-links li a::after {
      border-color: $white !important;
    }

    @media (max-width: 1919px) and (min-width: 701px) {
      .product-grid {
        .teaser-content {
          &--third {
            &:nth-of-type(3n - 2),
            &:nth-of-type(3n) {
              &::after {
                background-color: $white;
              }
            }
          }
        }
      }
    }
  }

  &.halloween {
    background: $black;

    .event-grid .teaser-content--half,
    .tabbed-content .react-tabs__tab,
    .tabbed-content--border .tabbed-content__dropdown {
      border-color: $mustard;
    }
    .teaser__description,
    .teaser__description *:not(.link--arrow) {
      color: $mustard;
    }

    * {
      color: $mustard;
      border-color: $mustard;
    }

    .teaser__tag,
    .restaurant-slider .teaser-content--restaurant {
      border-color: $mustard !important;
      color: $mustard !important;
    }
    .restaurant-slider .teaser-content--restaurant.swiper-slide-active {
      border-color: transparent !important;
    }

    #sub-header {
      svg {
        * {
          fill: $black;
          stroke: $black;
        }
      }
    }

    svg * {
      fill: $mustard;
      stroke: $mustard;
    }

    .teaser-content--services {
      svg {
        * {
          fill: $black;
          stroke: $mustard;
        }
      }
    }

    header #main-header {
      background: $black;
    }
    #sub-header {
      background: $mustard;
      span {
        color: $black;
      }
    }
    header #sub-header #sub-header-close {
      background: $mustard;
    }
    .menu-section li a {
      &:hover {
        color: $mustard;
      }
    }
    .teaser-container__top {
      .teaser__title {
        background-color: $mustard;

        h2 {
          color: $black;
        }
      }
    }
    .tabbed-content .react-tabs__tab--selected {
      background: $mustard;

      h3 {
        color: $black;
      }
    }
    .teaser-content {
      &--third,
      &--fourth {
        border-color: $mustard;

        &:nth-of-type(2n - 1) {
          border-color: $mustard;
        }
      }
    }
    .footer {
      * {
        color: $mustard;
        border-color: $mustard !important;
      }

      border-color: $mustard;

      &__section {
        input {
          &::placeholder {
            color: $mustard;
          }
        }
      }
    }
    .footer__section-links li a::after {
      border-color: $mustard !important;
    }
    @media (max-width: 1919px) and (min-width: 701px) {
      .product-grid {
        .teaser-content {
          &--third {
            &:nth-of-type(3n - 2),
            &:nth-of-type(3n) {
              &::after {
                background-color: $mustard;
              }
            }
          }
        }
      }
    }
  }

  &.lates {
    background: $black;

    .event-grid .teaser-content--half,
    .tabbed-content .react-tabs__tab,
    .tabbed-content--border .tabbed-content__dropdown,
    .teaser-content--portrait,
    .teaser-content--landscape,
    .teaser-content--medium {
      border-color: $pink-900;
    }

    .teaser__tag {
      border-color: $pink-900 !important;
      color: $pink-900 !important;
    }

    svg * {
      fill: $pink-900;
    }
    .arrow {
      svg {
        * {
          stroke: $pink-900;
        }
      }
    }
    .teaser__description,
    .teaser__description *:not(.link--arrow) {
      color: $pink-900;
    }

    * {
      color: $pink-900;
      border-color: $pink-900;
    }
    .restaurant-slider .teaser-content--restaurant:not(.swiper-slide-active) {
      border-color: $pink-900;
    }
    .tabbed-content .react-tabs__tab--selected {
      background: $pink-900;
      color: $black;
    }
    .marquee {
      span {
        color: $white;
      }
    }

    header #main-header {
      background: $black;
    }
    #sub-header {
      background: $pink-900;
    }
    header #sub-header #sub-header-close {
      background-color: $pink-900;
    }
    .menu-section li a {
      &:hover {
        color: $white;
      }
    }
    .teaser-container__top {
      .teaser__title {
        background-color: $pink-900;

        h2 {
          color: $white;
        }
      }
    }
    .teaser-content {
      &--third,
      &--fourth {
        border-color: $pink-900;

        &:nth-of-type(2n - 1) {
          border-color: $pink-900;
        }
      }
    }
    .footer {
      * {
        color: $pink-900;
        border-color: $pink-900 !important;
      }

      border-color: $pink-900;

      &__section {
        input {
          &::placeholder {
            color: $pink-900;
          }
        }
      }
    }

    @media (max-width: 1919px) and (min-width: 701px) {
      .product-grid {
        .teaser-content {
          &--third {
            &:nth-of-type(3n - 2),
            &:nth-of-type(3n) {
              &::after {
                background-color: $pink-900;
              }
            }
          }
        }
      }
    }
  }
}

.truncate {
  white-space: normal !important;
}

.swiper-slide {
  height: auto !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 42px !important;
  height: 42px !important;
  background: #000000;
  position: relative;
  opacity: 0 !important;
  transition: opacity 0.3s ease;

  &.swiper-button-disabled {
    display: none;
  }

  &:focus {
    outline: 0;
  }

  &::after {
    content: "" !important;
    width: 9px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.swiper-button-next {
  right: 0 !important;
  &::after {
    background-image: url("/static/images/slider/right.svg");
  }
}
.swiper-button-prev {
  left: 14px !important;
  &::after {
    background-image: url("/static/images/slider/left.svg");
  }
  @media (min-width: 1920px) {
    left: 15px !important;
  }
}

.swiper-container {
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0.75 !important;
    &:hover {
      opacity: 1 !important;
    }
    @media (max-width: 700px) {
      display: none;
    }
  }
}

em {
  font-style: italic;
}

.link {
  &--cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
}

.newsletter-form {
  &__error {
    color: red;
    bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    border: 0;

    @media (min-width: 700px) {
      position: absolute;
    }
  }

  &__success {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0;
  }
}

.popup,
.footer__section-content {
  .newsletter-form {
    &__success {
      p {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

.dash {
  width: 10px;
  overflow: hidden;
  display: inline-flex;
}

.standard > section {
  border-top: 0;
}
