.campaign-feature {
  margin: 140px 0;
  position: relative;

  &--full-width {
    width: 100%;

    @media (min-width: 1920px) {
      width: calc(100% - 124px);
      margin-left: 62px;
      margin-right: 62px;
    }
  }

  &__img {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__content {
    text-align: center;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 0 0;
    cursor: pointer;

    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .arrow {
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
      transition: all 300ms ease;
    }
    &:hover {
      .arrow {
        display: inline-block;

        right: 0;
      }
    }

    @media only screen and (min-width: $medium-media) {
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h2 {
      font-weight: $weight-demibold;
      font-size: 2.125rem;
      text-decoration: underline;
      line-height: 40px;
      margin: 0 0 5px 0;
    }
    h4 {
      font-size: $font-20px;
      font-weight: $weight-reg;
      text-transform: uppercase;
      line-height: 25px;
      margin: 0;
    }
    p {
      font-family: $muli;
      font-weight: $weight-reg;
      font-size: $font-18px;
      line-height: 23px;
      margin: 25px 0 35px 0;
    }
    a {
      font-family: $muli;
      font-weight: $weight-bold;
      font-size: $font-12px;
      text-transform: uppercase;
      transition: all $base-duration;
      ​ img {
        width: 28px;
        height: 10px;
        margin: 0 0 0 8px;
        transition: all $base-duration;
      }
      ​ &:hover {
        img {
          margin: 0 0 0 20px;
        }
      }
    }

    @media only screen and (min-width: $large-media) {
      h2 {
        line-height: 50px;
        margin: 0;
      }
      h4 {
        margin: 0;
      }
      p {
        margin: 70px 0 50px 0;
      }
    }
  }
}
