.content-promotion {
  @media (min-width: 700px) {
    display: flex;
    flex-direction: row-reverse;
  }
  margin-bottom: 100px;
  &__image {
    padding-top: 25px;
    margin-bottom: 50px;

    @media (min-width: 700px) {
      min-width: calc(424 / 1328 * 100%);
      padding-top: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__text {
    padding: 0 10px;
    text-align: center;

    @media (min-width: 700px) {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 35px;
    }

    h2 {
      font-family: $raisonne;
      font-size: 34px;
      line-height: 50px;
      font-weight: $weight-demibold;
      margin-bottom: 10px;
    }

    h3 {
      font-family: $raisonne;
      font-size: 20px;
      font-weight: 100;
      line-height: 25px;
      margin-bottom: 40px;
    }

    p {
      font-family: $muli;
      font-size: 18px;
      line-height: 23px;
    }
  }
}
