.content-search {
  padding-bottom: 17px;
  padding-top: 17px;
  border-bottom: solid 1px $black;

  &__item {
    cursor: pointer;
    &:hover {
      background: $greyscale-100;
    }
  }

  &__container {
    position: relative;
    &::before {
      content: "";
      background-image: url(/static/images/general/search-icon.svg);
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      left: 30px;
      width: 20px;
      height: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  input {
    width: 100%;
    padding: 13.5px 0;
    padding-left: 74px;
    box-sizing: border-box;
    background-color: white;
    -webkit-appearance: none;
    border-style: solid;
    border: solid 1px black;
    border-radius: 0;

    &::placeholder {
      color: $black;
      font-family: $muli;
      font-size: 18px;
    }

    &:focus {
      outline: 0;
    }
  }
  .results {
    position: absolute;
    background: $white;
    width: 100%;
    z-index: 1;

    .result {
      padding-left: 18px;
      padding-right: 18px;
      padding-bottom: 10px;
      width: 100%;
      box-sizing: border-box;

      &:first-of-type {
        padding-top: 18px;
      }

      &:last-of-type {
        padding-bottom: 18px;
      }
    }
  }

  .message {
    &.empty {
      display: none;
    }
  }
}
