.error {
  margin-top: 110px;
  text-align: center;
  margin-bottom: 170px;
  &__container {
    max-width: 425px;
    margin: auto;
  }
  img {
    margin-bottom: 30px;
  }

  h1 {
    text-transform: uppercase;
    font-family: $raisonne;
    font-weight: $weight-demibold;
    font-size: 34px;
    line-height: 30px;
    margin-bottom: 45px;
  }
}
