.empty-grid-item {
  height: 100%;
  width: 100%;
  background-color: white;
}

.event-grid {
  .teaser {
    &__span-container {
      @media (max-width: 700px) {
        &--date {
          margin-bottom: 0;
        }
      }
    }
    &__subject {
      @media (max-width: 700px) {
        margin: 0;
      }
    }
  }

  .teaser-content {
    &__container {
      flex-wrap: wrap;
      @media (min-width: 701px) {
        margin-left: -14px;
        margin-right: -14px;
      }
    }
    &--fourth {
      box-sizing: border-box;
      border-top: solid 1px $black;
      border-right: solid 1px $black;
      padding: 14px;
      padding-bottom: 9px;

      @media (min-width: 701px) and (max-width: 940px) {
        width: 50%;
        &:nth-of-type(1),
        &:nth-of-type(2) {
          border-top: 0;
        }
        &:nth-of-type(2n) {
          border-right-color: transparent;
        }
      }
      @media (min-width: 940px) {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4) {
          border-top: 0;
        }
        &:nth-of-type(4n) {
          border-right-color: transparent;
        }
      }

      .teaser__img img {
        height: 340px;
      }
      .teaser__tag-container {
        margin-top: 75px;
      }

      @media (max-width: 700px) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        border-left: 0;
        border-right: 0;

        .teaser__img img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
