.film-details {
  &--trailer {
    aspect-ratio: 16/9;
  }
  .breadcrumb {
    padding: 1rem 0;
    border-bottom: 1px solid black;
    margin-top: 1rem;
    display: flex;
    align-items: center;

    a {
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .meta-details {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;

    p {
      font-weight: bold;
      font-size: 13px;
    }
  }

  .divider {
    border-top: 1px solid black;
    margin: 2rem 0;
  }

  .more-date {
  }

  .showing {
    margin-top: 1.5rem;

    .date {
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
    }

    .times {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-top: 0.4rem;

      .time {
        border: 1px solid black;
        font-weight: bold;
        display: flex;
        padding: 0.2rem 1rem;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
        background-color: white;

        &:hover {
          background-color: black;
          color: white;
        }

        &.active {
          background-color: black;
          color: white;
        }
      }
    }
  }

  .more-dates-link {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;

    span {
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .arrow-icon {
      display: flex;
      width: 30px;
    }
  }

  .cta {
    display: flex;
    width: fit-content;
    margin-top: 2rem;
    outline: none;
    border: none;
    padding: 0rem 1.5rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    height: 42px;
    align-items: center;
  }
}
