.films-grid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: black;
  gap: 1px;

  @media (min-width: $small-media) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $medium-media) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: $large-media) {
    grid-template-columns: repeat(4, 1fr);
  }

  .films-grid__item {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;

    @media (max-width: $large-media) {
      &:nth-child(3n - 2) {
        /* padding-left: 0; */
      }
    }

    @media (min-width: $large-media) {
      &:nth-child(4n - 3) {
        /* padding-left: 0; */
      }
    }

    a {
      width: 100%;
    }
    .teaser__img {
      height: 0;
      width: 100%;
      overflow: hidden;

      &.landscape {
        padding-top: 56.25%;

        // img {
        //   width: 390px;
        //   height: 260px;
        // }
      }
      &.portrait {
        padding-top: 56.25%;

        // img {
        //   width: 390px;
        //   height: 260px;
        //   // width: 200px;
        //   // height: 300px;
        // }
      }
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
      }
    }

    img {
      width: auto;
      height: auto;
      object-fit: cover;
      width: 200px;
      height: 300px;
    }
  }

  .teaser__tag-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.film-grid__header {
  @media (min-width: 600px) {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }
  .see-more {
    text-transform: uppercase;
    gap: 0.5rem;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    display: none;

    @media (min-width: 600px) {
      display: flex;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .icon {
    width: 30px;
    display: flex;
  }
}

.films-grid-tab__panel {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  li {
    background-color: white;
    text-transform: uppercase;
    border: 1px solid black;
    border-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: inline-block;
    padding: 5px 15px;

    &:hover {
      background-color: black;
      transition: background-color 0.2s ease;
    }

    &:hover a {
      color: white;
      transition: color 0.2s ease;
    }
  }
}
