.film-hero {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  overflow: hidden;

  .image-container {
    max-width: 1600px;
    height: 35vh;
    margin: 0 auto;
    overflow: hidden;

    @media only screen and (min-width: 600px) {
      height: 50vh;
    }
    @media only screen and (min-width: 960px) {
      height: 70vh;
    }
  }
  .media-container {
    position: relative;
    max-width: 100%;
    padding-bottom: 70vh;

    @media (min-width: $xlarge-media) {
      padding-bottom: 56.25%;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transform: scale(4);

      @media (min-width: $medium-media) {
        transform: scale(2);
      }

      @media (min-width: $xlarge-media) {
        transform: scale(1.2);
      }
    }
  }
  .film-hero__container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 1.5rem;

    .title {
      font-size: 4rem;
      text-align: center;
      font-weight: bold;
      color: black;
      text-transform: uppercase;
      letter-spacing: 0.1em;

      @media (min-width: $medium-media) {
        font-size: 5rem;
      }

      @media (min-width: $large-media) {
        font-size: 9rem;
      }
    }

    .button-container {
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin-top: 100px;

      @media (min-width: $medium-media) {
        flex-direction: row;
        gap: 2rem;
      }
      &.image {
        @media only screen and (min-width: 600px) {
          margin-top: 120px;
        }
        @media only screen and (min-width: 960px) {
          margin-top: 150px;
        }
        @media only screen and (min-width: 1600px) {
          margin-top: 300px;
        }
      }
      &.video {
        position: absolute;
        bottom: 100px;
      }
      a {
        background-color: black;
        color: white;
        padding: 1rem 2rem;
        border: 1px solid transparent;
        font-size: 0.8rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s linear;
        letter-spacing: 0.05em;
        font-weight: 600;
        width: 100%;
        margin: 0;

        @media (min-width: $medium-media) {
          width: unset;
          font-size: 1rem;
        }

        &:hover {
          background-color: white;
          border: 1px solid black;
          color: black;
        }
      }
    }
  }
}
