.footer {
  display: flex;
  border-top: solid $black 1px;

  &-accordion {
    &__button {
      background: transparent;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
      position: absolute;
      right: 14px;
      top: 0;
    }
  }

  @media (max-width: 960px) {
    * {
      box-sizing: border-box;
    }
  }

  @media (max-width: 960px) {
    display: block;
  }

  &__section-header {
    border-bottom: solid 0.0313rem $black;
    padding-bottom: 0.9375rem;
    margin-left: -2.25rem;
    margin-right: -2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    position: relative;

    h2 {
      display: inline-block;
      position: relative;

      &::after {
        content: "";
        display: block;
        border-bottom: 1px solid black;
        width: 0;
        position: absolute;
        left: 0;
        transition: 1s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    @media (max-width: 960px) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0.875rem;
      padding-right: 0.875rem;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    @media (min-width: 960px) {
      pointer-events: none;
    }

    @media (min-width: 961px) and (max-width: 1407px) {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      font-family: $muli;
      font-size: 0.8125rem;
      line-height: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.0125rem;
    }
  }

  &__section {
    &--direction {
      .footer__section-header,
      .footer__section-content,
      .footer__section-foot {
        @media (min-width: 1920px) {
          margin-left: -2.25rem;
          padding-left: 99px;
        }
      }
    }
    &--newsletter {
      .newsletter-form {
        &__error {
          border: 0;
          margin-top: 20px;
          margin-bottom: -20px;
        }

        @media (min-width: 1920px) {
          max-width: 290px;

          &__error {
            //position: absolute;
            top: 0;
            border: 0;
            background: $white;
          }
        }
      }
    }
  }

  &__section-content,
  &__section-content * {
    font-family: $muli;
  }

  &__section-content {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    line-height: 19px;
    flex-grow: 1;

    p {
      font-size: 15px;
      line-height: 19px;
      font-weight: normal;
    }

    @media (max-width: 960px) {
      box-sizing: border-box;
      opacity: 0;
      max-height: 0px;
      padding: 0;
      transition: all 300ms ease-in-out;
      pointer-events: none;

      p,
      address,
      form {
        padding-left: 14px;
        padding-right: 14px;
      }

      &--show {
        opacity: 1;
        max-height: 2000px;
        padding: 12px 0 15px;
        pointer-events: all;
        border-bottom: solid 0.0313rem #000000;

        * {
          position: relative;
          z-index: 1;
        }

        .footer__section-links {
          margin-top: -12px;
          margin-bottom: -12px;

          li {
            &:last-of-type {
              border-bottom: 0;
            }
          }
        }
      }
    }

    address {
      margin-top: 15px;
      line-height: 20px;
      font-size: 12px;
      font-family: $muli;
    }

    a {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      letter-spacing: 0.0125rem;
      text-transform: uppercase;
    }

    p {
      font-size: 0.9375rem;
      line-height: 1.1875rem;
      min-height: 38px;
    }

    form {
      div {
        margin: 0 0 25px 0;
        padding-bottom: 6px;
        border-bottom: solid 0.5px $black;
        outline: 0;
        position: relative;
        height: 46px;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;

        &.opt-in {
          border: 0;
          display: flex;
          align-items: center;
          height: auto;
          margin: 18px 0 0px;

          * {
            font-size: 12px;
          }

          input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;

            &:checked + label:after {
              content: "";
              display: block;
              position: absolute;
              top: 22px;
              left: 5.45px;
              width: 3px;
              height: 10px;
              border: solid #707070;
              border-width: 0 0.5px 0.5px 0;
              transform: rotate(45deg);
            }
          }

          label {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;

            &:before {
              content: "";
              -webkit-appearance: none;
              background-color: transparent;
              border: 0.5px solid #707070;
              padding: 6px;
              display: inline-block;
              position: relative;
              vertical-align: middle;
              cursor: pointer;
              margin-right: 10px;
              box-sizing: border-box;
              max-height: 14px;
              height: 14px;
            }
          }

          &--error {
            label {
              color: $red-900;

              a {
                color: $red-900;
              }
              &:before {
                border-color: $red-900;
              }
            }
          }

          a {
            text-transform: none;
            text-decoration: underline;
          }
        }

        &.error-found {
          border-color: $red-900;
        }

        &:first-of-type {
          margin-top: -4px;
        }
      }

      input {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        background: transparent;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: $greyscale-400;
          font-size: 12px;
          line-height: 15px;
          text-transform: uppercase;
        }
      }

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        border: 0;
        -webkit-text-fill-color: $black;
        -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 1) inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      button[type="submit"] {
        margin-top: 5px;
        border: solid $black 1px;
        background: transparent;
        display: block;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        font-weight: bold;
        transition: background-color 300ms ease;
        cursor: pointer;

        &:hover {
          background: $black;
          color: $white;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    .table-container {
      position: relative;
      height: 100%;

      .table-row {
        display: flex;
        width: 100%;
        border-bottom: solid 0.0313rem $black;
        padding-left: 20px;
        height: 47px;
        align-items: center;
        box-sizing: border-box;

        @media (min-width: 961px) {
          width: calc(100% + 40px);
          margin-left: -20px;
          margin-right: -20px;
        }

        @media (min-width: 1440px) {
          height: 46px;
          width: calc(100% + 72px);
          margin-left: -36px;
          padding-left: 2.25rem;
        }

        div {
          height: 100%;
          display: flex;
          align-items: center;

          &:first-of-type {
            border-right: solid 0.0313rem $black;
            width: 40%;
          }

          &:last-of-type {
            flex-grow: 1;
            padding-left: 20px;

            @media (min-width: 1440px) {
              padding-left: 2.25rem;
              padding-right: 1rem;
            }
          }
        }

        span {
          font-size: 0.75rem;
          line-height: 0.9375rem;
          letter-spacing: 0.0125rem;
          font-family: $muli;
          text-align: left;
          text-transform: uppercase;
          position: relative;
          font-weight: normal;
        }

        &:last-of-type {
          border-bottom: 0;
        }
      }
    }

    table {
      margin-left: -2.25rem;
      width: calc(100% + 5rem);
      position: relative;
      height: 100%;

      @media (max-width: 906px) {
        margin: 0;
        width: 100%;
      }

      @media (min-width: 961px) and (max-width: 1407px) {
        width: calc(100% + 41px);
        margin-left: -20px;
      }

      tr {
        th,
        td {
          padding: 0.9375rem 2.25rem;
          font-size: 0.75rem;
          line-height: 0.9375rem;
          letter-spacing: 0.0125rem;
          font-family: $muli;
          text-align: left;
          border-bottom: solid 0.5px $black;
          text-transform: uppercase;
          position: relative;
          font-weight: normal;

          @media (max-width: 1407px) {
            //padding: 23.25px 15px;
            padding: 0 15px;
            height: 46px;
            span {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 15px;
              right: 15px;
            }
          }

          a {
            font-size: 0.75rem;
            line-height: 0.9375rem;
            letter-spacing: 0.0125rem;
            text-transform: uppercase;
          }
        }

        &:last-of-type {
          th,
          td {
            border-bottom: 0;
          }
        }
      }

      th {
        border-right: solid 0.5px $black;
      }
    }
  }

  &__section-foot {
    border-bottom: solid 0.5px $black;
    border-top: solid 0.5px $black;
    margin-left: -2.25rem;
    margin-right: -2.25rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    max-height: 63px;
    min-height: 63px;
    display: flex;
    align-items: center;

    @media (max-width: 960px) {
      display: none;
    }

    @media (max-width: 1407px) {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    p {
      font-family: $muli;
      font-size: 12px;
      line-height: 15px;
      font-weight: normal;
      text-align: center;
      width: 100%;
    }
  }

  &__section-links {
    li {
      margin-left: -2.25rem;
      margin-right: -2.25rem;
      padding: 0.9375rem 2.25rem;
      border-bottom: solid 0.0313rem $black;

      &:last-of-type {
        border-bottom: 0;
      }

      a {
        position: relative;

        &::after {
          content: "";
          display: block;
          border-bottom: 1px solid black;
          width: 0;
          position: absolute;
          left: 0;
          transition: 500ms ease;
        }

        &:hover {
          color: initial;

          &::after {
            width: 100%;
            transition: 0s ease;
          }
        }
      }

      @media (max-width: 960px) {
        margin-left: 0;
        margin-right: 0;
      }

      @media (min-width: 961px) and (max-width: 1407px) {
        margin-left: -20px;
        margin-right: -20px;
        padding: 0.9375rem 20px;
      }
    }
  }

  &__section {
    //width: calc(345 / 1366 * 100%);
    width: 25%;
    padding: 1rem 2.25rem;
    border-right: solid $black 0.0313rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 25%;
    max-width: 25%;

    &--newsletter {
      .footer {
        &__section-content {
          position: relative;
        }
      }
    }

    @media (max-width: 960px) {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      display: block;
      box-sizing: border-box;
      padding-bottom: 0;
      border-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    @media (min-width: 961px) and (max-width: 1407px) {
      padding: 1rem 20px;
    }

    &:last-of-type {
      border-right: none;
    }

    &--opening,
    &--navigation {
      .footer__section-content {
        padding: 0;

        &--show {
          padding: 12px 0;
          .table-container {
            margin-top: -12px;
            margin-bottom: -12px;
          }
        }
      }
    }

    &--navigation {
      li {
        padding: 0.9375rem 2.25rem;
        font-size: 0.75rem;
        line-height: 0.9375rem;
        letter-spacing: 0.0125rem;
        box-sizing: border-box;
        height: 46px;

        @media (max-width: 1407px) {
          height: 47px;
          padding: 10px 15px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &__section {
    &--direction {
      .address {
        transition: all 300ms ease;

        &:hover {
          font-weight: bold;
        }
      }

      // @media (min-width: 1920px) {
      //   padding-left: 99px;
      // }
    }
  }
}

.social {
  ul {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
    height: 35px;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 0.625rem;

      a {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        border: solid 1px $black;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        transition: all 300ms ease;

        svg {
          position: absolute;
        }

        &:hover {
          background: $black;
          svg {
            path {
              fill: $white;
            }
          }
        }
      }
    }
  }

  &--mobile {
    position: relative;
    z-index: 9;

    ul {
      padding-top: 1.1875rem;
      margin-bottom: 1.1875rem;
      display: block;
      width: 130px;
      margin-left: auto;
      margin-right: auto;

      li {
        display: inline-block;
        list-style: none;
        margin-right: 0.6875rem;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

.copyright {
  position: relative;
  z-index: 9;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  font-family: $muli;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8.75rem;
}
