header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  #main-header {
    height: 50px;
    background-color: $white;
    border-bottom: 1px solid $greyscale-500;

    .header-menu-main {
      display: none;
      justify-content: space-between;
      position: relative;
      flex-wrap: nowrap;
      align-items: center;

      .menu-section {
        display: flex;

        &.logo {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          display: inline-flex;
          padding: 0 20px 0 0;
          transition: opacity 300ms ease;

          &.inactive {
            opacity: 0.4;
          }

          @media (min-width: 1366px) {
            padding: 0 35px 0 0;
          }

          a {
            font-family: $muli;
            font-weight: $weight-bold;
            font-size: $font-12px;
            text-transform: uppercase;

            &.on-page {
              text-decoration: underline;
            }

            svg {
              padding-left: 6px;
              position: absolute;
              right: 0;
            }

            &:hover {
              color: initial;
            }
          }
        }

        .search-toggle {
          padding: 0 17px 0 0;
          position: relative;
        }
      }

      .logo {
        img {
          height: 34px;
          width: auto;
          display: block;
        }
      }
    }

    .header-menu-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .logo {
        svg {
          width: 126px;
          height: 24px;
          width: auto;
          display: block;
        }
      }
    }

    // search box
    #header-search {
      display: none;
      align-items: center;
      justify-content: space-between;
      align-items: stretch;
      height: 100%;

      .results.transition {
        position: absolute;
        top: 100%;
        width: 100%;
        background: $white;
        left: 0;
        padding: 18px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 300ms ease;
        border-top: solid 1px #cbcbcb;
        height: calc(100vh - 50px);
        overflow: hidden;
        overflow-y: auto;

        @media (min-width: 700px) {
          display: flex;
          height: calc(100vh - 60px);
          flex-wrap: wrap;

          .category {
            margin-right: 150px;
          }
        }
        &.visible {
          opacity: 1;
        }
        &.hide {
          opacity: 0;
          pointer-events: none;
        }
      }

      .search {
        flex-grow: 1;
        font-size: $font-18px;
        width: 90%;
        border: none;

        .input {
          height: 100%;
          width: 100%;

          input {
            height: 100%;
            width: 100%;
            border: 0;
            box-sizing: border-box;

            &:focus {
              outline: 0;
              border: 0;
            }
          }
        }

        &:focus {
          outline: 0;
          border: 0;
        }

        &::placeholder {
          color: $black;
        }
      }
      button {
        background-color: $white;
        border: none;
        padding: 0px;

        &:focus {
          outline: 0;
          border: 0;
        }
      }
    }

    &.search-active {
      #header-search {
        display: flex;

        @media (max-width: 700px) {
          position: absolute;
          width: calc(100% - 28px);
          left: 0;
          height: 50px;
        }
      }
      .header-menu-main {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: $large-media) {
  header {
    #main-header {
      height: 60px;

      .header-menu-mobile {
        display: none;
      }

      .header-menu-main {
        display: flex;
        height: 60px;
      }
    }

    // search box
    #header-search {
      .search {
        flex-grow: 1;
        font-size: $font-20px;
      }
    }
  }
}

// Sub Header

header {
  #sub-header {
    height: 22px;
    display: flex;
    background-color: $black;
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 80px;
    //   background-image: linear-gradient(
    //     to right,
    //     rgba(0, 0, 0, 1),
    //     rgba(0, 0, 0, 0)
    //   );
    //   height: 100%;
    //   z-index: 1;
    // }

    #sub-header-close {
      float: left;
      align-items: center;
      position: relative;
      z-index: 2;
      display: flex;
      background-color: $black;
      padding: 0 14px 0 14px;

      &:hover {
        cursor: pointer;
      }

      svg {
        align-items: center;
        width: 11px;
        height: 11px;
      }
    }

    .marquee-header-wrap {
      position: fixed;
      width: 100%;
      overflow: hidden;
      padding-left: 100%;
      box-sizing: content-box;
      cursor: pointer;
      margin-left: 55px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 80px;
        background: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0));
        z-index: 9;
      }

      .marquee {
        display: inline-block;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-name: marquee;
        animation-duration: 65s;

        &--arrow {
          padding-right: 35px;
          position: relative;

          svg {
            position: absolute;
            right: 0;
            transition: right 300ms ease;
          }

          &:hover {
            svg {
              right: -10px;
            }
          }
        }

        &_item {
          display: inline-block;
          padding: 0 40px;
          font-size: $font-10px;
          font-weight: $weight-demibold;
          color: $white;
          text-transform: uppercase;
          text-decoration: underline;

          &.alt {
            text-decoration: none;

            &:after {
              display: inline-block;
              content: "";
              //background: url("../../static/images/general/sub-header-arrow.svg");
              position: absolute;
              height: 6px;
              width: 30px;
              margin: 4px 0 0 10px;
            }
          }
        }
      }

      &:hover {
        .marquee {
          animation-play-state: paused;
        }
      }
    }
  }
}

.page-wrapper.lates {
  .marquee-header-wrap {
    &:before {
      background: linear-gradient(
        90deg,
        $pink-900,
        rgba(220, 59, 221, 0.3)
      ) !important;
    }
  }
  .marquee--arrow {
    svg {
      * {
        fill: white;
      }
    }
  }
}

.page-wrapper.valentines {
  .marquee--arrow {
    svg {
      * {
        fill: $red-100;
        stroke: $red-100;
      }
    }
  }
}

.page-wrapper.easter {
  .marquee--arrow {
    svg {
      * {
        fill: $l-green;
        stroke: $l-green;
      }
    }
  }
}

.page-wrapper.summer {
  .marquee--arrow {
    svg {
      * {
        fill: $yellow-400;
        stroke: $yellow-400;
      }
    }
  }
}

.page-wrapper.halloween {
  .marquee-header-wrap {
    &:before {
      background: linear-gradient(
        90deg,
        $mustard,
        rgba(254, 202, 88, 0.3)
      ) !important;
    }
  }
}

@media only screen and (min-width: $large-media) {
  header {
    #sub-header {
      #sub-header-close {
        padding: 0 20px 0 20px;
      }
      .marquee-header-wrap {
        .marquee {
          &_item {
            padding: 3px 140px 0 0;
            font-size: $font-14px;
          }
        }
      }
    }
  }
}
