.hero {
  position: relative;

  @media (min-width: 1366px) {
    padding-top: calc(769 / 1366 * 100%);
  }
  padding-top: calc(769 / 1366 * 100%);

  &__container {
    // @media (min-width: 1366px) {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    // }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .embed-container {
      --video--width: 1920;
      --video--height: 1080;

      position: relative;
      padding-bottom: calc(var(--video--height) / var(--video--width) * 100%);
      overflow: hidden;
      max-width: 100%;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .video-react {
      @media (min-width: 1366px) {
        padding-top: 56.25% !important;
      }
    }
  }

  &--campaign {
    margin-bottom: 60px;
  }

  .campaign-feature {
    &__content {
      z-index: 1;
    }
    @media (max-width: 760px) {
      &__content {
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        right: 0;

        h2 {
          font-size: 1.2rem;
          position: relative;
          height: 43%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
        }

        p {
          max-width: 45%;
          margin-left: auto;
          margin-right: auto;
          font-size: 13px;
          line-height: 1.2;
          margin-top: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  &__navigation {
    background: transparent;
    border: 0;
    outline: 0;
    z-index: 9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    @media (max-width: 700px) {
      display: none;
    }

    &:hover {
      opacity: 0.8;
    }

    &--prev {
      left: 5px;

      @media (min-width: 600px) {
        left: 20px;
      }
      .hero__navigation-title {
        margin-right: 10px;
      }
    }

    &--next {
      right: 5px;

      @media (min-width: 600px) {
        right: 20px;
      }
      .hero__navigation-title {
        margin-left: 10px;
      }
    }

    &--hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__navigation-title {
    background: $white;
    color: $black;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    padding: 3px 7px;
    border-radius: 5px;
  }
}

.swiper-pagination-progressbar {
  background: #b9b9b9 !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: $black !important;
}

.swiper-slide {
  transition: opacity 600ms ease;
  &:hover {
    opacity: 0.95;
  }
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  height: 1px !important;
}
