.hero-text {
  nav {
    padding: 15px 0 0 0;
    //position: absolute;

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        display: inline-block;
        font-family: $muli;
        font-weight: $weight-reg;
        line-height: 16px;
        font-size: 10px;

        a {
          font-family: $muli;
          font-weight: $weight-reg;
          font-size: $font-10px;
          line-height: 16px;
          text-transform: uppercase;
        }

        &::after {
          content: "\007C";
          font-size: 10px;
          padding: 0 6px 0 8px;
        }

        &:last-child {
          &::after {
            content: "";
            padding: 0;
          }
        }
      }
    }
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .hero-text__content {
    max-width: 550px;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    &--full {
      padding: 60px 0;
    }

    &--short {
      padding: 60px 0;
    }

    h2 {
      font-family: $muli;
      font-weight: $weight-bold;
      font-size: $font-12px;
      line-height: 15px;
      text-transform: uppercase;
      margin: 0;
    }

    h1 {
      font-weight: $weight-demibold;
      font-size: 2.125rem;
      text-decoration: underline;
      line-height: 40px;
      margin: 0;
    }

    p {
      font-family: $muli;
      font-weight: $weight-reg;
      font-size: $font-18px;
      line-height: 23px;
      margin: 15px 0 0 0;
    }

    .hero-text__button {
      border: 1px solid black;
      border-radius: 2px;
      font-family: $muli;
      font-weight: $weight-reg;
      font-size: $font-14px;
      text-transform: uppercase;
      display: inline-block;
      padding: 14px 24px;
      margin: 26px 0 0 0;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}

@media only screen and (min-width: $medium-media) {
  .hero-text {
    nav ul li {
      font-size: $font-14px;
      line-height: 18px;
      a {
        font-size: $font-14px;
        line-height: 18px;
      }
      &::after {
        font-size: 14px;
        padding: 0 8px 0 10px;
      }
    }

    .hero-text__content {
      &--full {
        padding: 114px 0;
      }
      &--short {
        padding: 114px 0 70px 0;
      }
      h2 {
        margin: 0;
      }
      h1 {
        line-height: 50px;
        margin: 0;
      }
      p {
        margin: 15px 0 0 0;
      }
    }
  }
}
