.home-hero {
  &:hover {
    .arrow {
      margin-right: -5px;
    }
  }

  img:not(.arrow) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    min-height: 200px;
    height: 200px;

    a {
      min-height: 200px;
      + div {
        min-height: 200px;
      }
    }

    &:first-of-type {
      border-left: 0;
    }
    .swiper-wrapper {
      min-height: 200px;
    }
  }
}

@media only screen and (min-width: $medium-media) {
  .home-hero {
    height: 750px;

    img:not(.arrow) {
      height: 750px;
    }

    .swiper-slide {
      min-height: 750px;
      height: 750px;

      a {
        min-height: 750px;
        + div {
          min-height: 750px;
        }
      }

      &:first-of-type {
        border-left: 0;
      }
      .swiper-wrapper {
        min-height: 750px;
      }
    }
  }
}

@media (min-width: 1366px) {
  .home-hero {
    height: 100%;

    img:not(.arrow) {
      height: 100%;
    }
  }
}
