.image-text-50 {
  @media (min-width: 700px) {
    display: flex;
    border-top: solid 1px $black;
    border-bottom: solid 1px $black;
    margin-bottom: 50px;
  }

  &__image {
    img {
      width: 100%;
      height: auto;
    }

    margin-bottom: 50px;

    @media (min-width: 700px) {
      width: 50%;
      padding: 14px 14px 14px 0;
      box-sizing: border-box;
      border-right: solid 1px $black;
      margin-bottom: 0;
    }
  }

  &__text {
    margin-bottom: 35px;

    @media (min-width: 700px) {
      width: 50%;
      padding: 65px 40px;
      margin-bottom: 0;
      box-sizing: border-box;
    }

    @media (min-width: 1900px) {
      max-width: 36vw;
    }
    p,
    span,
    a,
    table {
      font-family: $muli;
      font-size: 18px;
      line-height: 23px;
    }

    p {
      margin-bottom: 30px;
      display: inline-block;
    }

    h2 {
      font-family: $raisonne;
      font-weight: $weight-demibold;
      font-size: 20px;
      line-height: 1;
      margin-bottom: 30px;
      text-decoration: underline;
    }

    h3 {
      font-family: $muli;
      font-weight: bold;
      font-size: 18px;
      line-height: 23px;
    }

    a {
      text-decoration: underline;
      transition: all 300ms ease;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
