#marquee {
  display: flex;
  height: 36px;
  border-bottom: 1px solid $black;
  border-top: 1px solid $black;

  @-webkit-keyframes marquee {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  @keyframes marquee {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }

  .marquee-wrap {
    position: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    height: 36px;
    overflow: hidden;
    padding-left: 100%;
    box-sizing: content-box;

    .marquee {
      display: inline-block;
      white-space: nowrap;
      padding-right: 100%;
      box-sizing: content-box;

      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-name: marquee;
      animation-name: marquee;
      -webkit-animation-duration: 40s;
      animation-duration: 40s;

      &_item {
        display: inline-block;
        padding: 0 100px;
        margin: -4px;
        font-size: 24px;
        font-weight: $weight-reg;
        color: $black;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (min-width: $medium-media) {
  #marquee {
    height: 75px;

    .marquee-wrap {
      height: 75px;

      .marquee {
        -webkit-animation-duration: 40s;
        animation-duration: 40s;

        &_item {
          margin: -10px;
          padding: 0 100px;
          font-size: 48px;
        }
      }
    }
  }
}

.ticker {
  height: 31px !important;
  margin-top: -3px !important;

  @media (min-width: 700px) {
    height: 62px !important;
  }
}
