header {
  #main-header {
    // Mobile Menu
    .menu {
      cursor: pointer;
      transition: opacity 300ms ease;

      &:hover {
        opacity: 0.5;
      }
    }
    #mobile-menu-dropdown {
      background-color: rgba($black, 0.9);
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 997;
      top: 0;
      left: 0;
      font-family: $muli;
      margin-left: -100%;
      opacity: 0;
      transition: opacity 600ms ease-in-out;

      .footer {
        border-top: 0;

        .social--mobile,
        .copyright {
          display: none;
        }
      }

      &.show {
        margin-left: 0;
        opacity: 1;
      }

      &.hide {
        opacity: 0;
        margin-left: 0;
      }

      &.hide-menu {
        margin-left: -100%;
      }

      .dropdown-close {
        position: absolute;
        right: 14px;
        top: 14px;
        cursor: pointer;
        transition: opacity 300ms ease;

        &:hover {
          opacity: 0.5;
        }

        @media (min-width: 560px) {
          left: 514px;
        }
      }

      .dropdown-container {
        background-color: $white;
        position: relative;
        max-width: 500px;
        width: 90%;
        height: 100%;
        z-index: 998;
        top: 0;
        left: 0;
        margin-left: -100%;
        transition: margin 600ms ease;

        &.show {
          margin-left: 0;
        }

        &.hide {
          margin-left: -100%;
        }

        .dropdown-elements {
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          overflow-y: auto;

          .dropdown-main-menu {
            padding: 0;
            margin: 0;
            flex: 0 0 100%;

            li {
              list-style: none;
              border-bottom: 1px solid $black;
              a {
                font-size: $font-16px;
                font-weight: $weight-bold;
                text-transform: uppercase;
                padding: 20px 0 20px 0;
                width: 100%;
                display: block;

                &.on-page {
                  text-decoration: underline;
                }
              }
              &:first-of-type {
                a {
                  padding-top: 30px;
                }
              }
            }
          }

          .sub-menu {
            position: absolute;
            box-sizing: border-box;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            background: $white;
            bottom: 0;
            margin-left: -100%;
            transition: margin 300ms linear;
            padding: 0 14px;
            height: 100%;
            z-index: 99;

            &__back-link {
              background: #ebe8e8;
              width: 100%;
              margin-left: -14px;
              margin-right: -14px;
              padding-left: 14px;
              padding-right: 14px;

              .link {
                font-family: $muli;
                display: block;
                font-size: 12px;
                font-weight: bold;
                line-height: 1;
                padding: 20px 0;
                text-transform: uppercase;

                .arrow {
                  transform: rotate(180deg);
                  margin-right: 10px;
                }
              }
            }
          }
        }

        .dropdown-main-secondary {
          padding: 28px 0 28px 0;
          margin: 0;
          flex: 0 0 100%;
          align-self: flex-end;
          width: 100%;
          bottom: 0px;

          .footer {
            &-accordion {
              &__button {
                top: 50%;
                transform: translateY(-50%);
              }
            }
            &__section {
              padding: 0;

              &-header {
                padding: 20px 0px;
              }

              &-links {
                li {
                  a {
                    &::after {
                      display: none;
                      right: 15px;
                      left: unset;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                  }
                }
              }
            }
          }

          li {
            list-style: none;
            border-bottom: 1px solid $black;
            a {
              font-size: 12px;
              font-weight: $weight-bold;
              text-transform: uppercase;
              padding: 16px 0 16px 0;
              width: 100%;
              display: block;

              &::after {
                content: "+";
                text-align: right;
                float: right;
              }
            }
            ul {
              margin: 0px;
              padding: 0 0 16px 0;

              li {
                border-bottom: none;

                a {
                  padding: 8px 0 8px 0;
                  font-size: $font-12px;

                  &::after {
                    content: "";
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-height: 700px) {
  header
    #main-header
    #mobile-menu-dropdown
    .dropdown-container
    .dropdown-elements {
    .dropdown-main-menu li a {
      padding: 14px 0 14px 0;
    }

    .dropdown-main-secondary li {
      a {
        padding: 12px 0 12px 0;
      }
      ul li a {
        padding: 8px 0 8px 0;
      }
    }
  }
}
