.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $muli;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  border: 0 !important;

  &__amount {
    margin-top: 40px;
    margin-bottom: 12px;
    span {
      display: inline-block;
      font-size: 13px;
      line-height: 0;
    }
  }

  &__view-more {
    display: inline-block;
    outline: 0;
    border: solid 1px $black;
    margin: 0;
    padding: 14px;
    font-size: 12px;
    cursor: pointer;
    font-family: $muli;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 300ms ease;
    opacity: 1;
    background-color: white;

    &--disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &:hover {
      background: $black;
      color: white;
    }
  }
}
