.single-page {
  &.contact {
    .teaser-container {
      border-bottom: 0;
    }
  }
  .teaser {
    &__img {
      & img {
        width: 100%;
        height: auto;
      }
    }
  }

  .teaser-content {
    &--fourth {
      .teaser-content {
        &__inside {
          * {
            font-size: 18px;
            @media (min-width: 940px) {
              font-size: 16px;
            }

            @media (min-width: 1366px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
