.plain-text {
  max-width: 650px;
  margin: auto;
  margin-top: 87px;
  margin-bottom: 115px;

  h1 {
    font-family: $raisonne;
    line-height: 1;
    font-size: 34px;
    font-weight: $weight-demibold;
    text-decoration: underline;
    margin-bottom: 58px;
  }

  h2 {
    font-family: $muli;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  p,
  a,
  ol,
  ul,
  li,
  span {
    font-family: $muli;
    font-size: 18px;
    line-height: 23px;
  }

  p {
    margin-bottom: 33px;
  }

  ul,
  ol {
    margin-bottom: 33px;
    margin-left: 30px;

    li {
      margin-bottom: 15px;
    }
  }

  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  a {
    text-decoration: underline;
    transition: all 300ms ease;

    &:hover {
      text-decoration: none;
    }
  }

  table {
    display: block;
    margin: 10px 0;
    margin-bottom: 20px;

    * {
      font-family: "muli", sans-serif;
      font-size: 14px;
      text-align: left;
    }

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 10px;
    }
  }
}
