.popup {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  transition: opacity 500ms ease-in-out;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &--pushed-back {
    z-index: -1;
  }
  &__message {
    text-align: center;
    max-width: 400px;
    margin: auto;
    a {
      color: white;
      border: solid white 1px;
      padding: 10px 15px;
      position: relative;
      display: inline-block;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
  &__form {
    max-width: 400px;
    margin: auto;

    form {
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        border: 0;
        border-bottom: solid 1px $white;
        -webkit-text-fill-color: $white;
        -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.1) inset;
        transition: background-color 5000s ease-in-out 0s;
      }
      div {
        &.opt-in {
          border: 0;
          display: flex;
          align-items: center;
          height: auto;
          margin: 0px 0 18px;

          * {
            font-size: 12px;
            font-family: $muli;
            line-height: 1.2;
          }

          input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;

            &:checked + label:after {
              content: "";
              display: block;
              position: absolute;
              left: 5px;
              top: 7px;
              width: 3px;
              height: 10px;
              border: solid $white;
              border-width: 0 0.5px 0.5px 0;
              transform: rotate(45deg);
            }
          }

          label {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $white;

            &:before {
              content: "";
              -webkit-appearance: none;
              background-color: transparent;
              border: 0.5px solid $white;
              padding: 6px;
              display: inline-block;
              position: relative;
              vertical-align: middle;
              cursor: pointer;
              margin-right: 10px;
              box-sizing: border-box;
              max-height: 14px;
              height: 14px;
            }
          }

          a {
            text-transform: none;
            text-decoration: underline;
            color: $white;
          }
          &--error {
            label {
              color: $red-900;

              a {
                color: $red-900;
              }
              &:before {
                border-color: $red-900;
              }
            }
          }
        }
      }
      input {
        width: 100%;
        background: transparent;
        color: $white;
        border: 0;
        border-bottom: solid 1px $white;
        padding-bottom: 5px;
        font-family: $muli;
        font-size: 15px;
        font-weight: normal;
        margin-bottom: 35px;
        transition: border 300ms ease;

        &.error-found {
          border-color: $red-900;
        }

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: $white;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
      .submit-btn {
        width: 100%;
        text-transform: uppercase;
        font-family: $muli;
        font-size: 12px;
        line-height: 0;
        font-weight: bold;
        padding: 17.5px;
        border: solid 1px $white;
        box-sizing: border-box;
        display: block;
        background: transparent;
        color: $white;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }

        &:focus {
          outline: 0;
        }
      }
    }
  }

  &--hide {
    opacity: 0;
  }

  &--show {
    opacity: 10 !important;
    z-index: 999;
  }

  h2 {
    color: $white;
    font-family: $raisonne;
    font-weight: $weight-demibold;
    font-size: 34px;
    line-height: 1;
    margin-bottom: 15px;
    text-decoration: underline;
  }

  p {
    font-family: $muli;
    font-size: 15px;
    line-height: 19px;
    font-weight: normal;
    color: $white;
    margin-bottom: 25px;
  }
}
