.product-grid {
  margin-bottom: 100px;

  &__products {
    flex-wrap: wrap;
    overflow: hidden;
    box-sizing: border-box;
    @media (min-width: 701px) and (max-width: 1919px) {
      width: 100%;
    }
  }

  .teaser-content {
    box-sizing: border-box;
    border-bottom: solid $black 1px;
  }

  .teaser-content--third {
    padding: 20px;

    @media (min-width: 701px) and (max-width: 1919px) {
      &:nth-of-type(3n - 2) {
        //border-bottom-color: transparent;
        border-bottom: 0;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: calc(100% - 20px);
          background-color: black;
          height: 1px;
        }
      }

      &:nth-of-type(3n) {
        border-bottom: 0;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: calc(100% - 20px);
          height: 1px;
          background: black;
          bottom: 0;
        }
      }
      // width: 34.4% !important;
      // &:nth-of-type(3n) {
      //   margin-right: -20px;
      // }
    }

    @media (min-width: 700px) {
      &:nth-of-type(3n) {
        border-right: none;
      }
    }

    @media (max-width: 700px) {
      width: 50% !important;
      &:nth-of-type(2n - 1) {
        padding-left: 0;
        border-right: solid 1px $black;
      }
      &:nth-of-type(even) {
        border-right: 0;
        padding-right: 0;
      }
    }
  }

  .teaser__img {
    padding-top: calc(575 / 422 * 100%);
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
    }
  }

  h2 {
    &.teaser__subject {
      margin-bottom: 7px;
      font-family: $raisonne;
      font-size: 20px;
      line-height: 25px;
    }
  }

  span {
    &.teaser__subject--no-underline {
      font-family: $muli;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 0px;
      font-weight: normal;
    }
  }
}
