.restaurant-slider {
  overflow: hidden;
  .swiper-button-next {
    @media (max-width: 1919px) {
      right: 0px !important;
    }
  }
  .swiper-button-prev {
    left: 1px !important;
    @media (max-width: 1919px) {
      left: 0px !important;
    }
  }

  .teaser-content--restaurant {
    border-right: 0;
    border-left: solid 1px $black;

    .teaser__span-container {
      margin-bottom: 0;
    }
  }
  .teaser-content--restaurant.swiper-slide-active,
  .teaser-content--restaurant.active-slide {
    // border-left: 0;
    // padding-left: 0;

    @media (min-width: 1366px) {
      .teaser__img--restaurant {
        padding-top: calc(270 / 436 * 100%);
      }
    }

    + .swiper-slide {
      + .swiper-slide {
        // padding-right: 0;

        @media (min-width: 1366px) {
          .teaser__img--restaurant {
            padding-top: calc(270 / 436 * 100%);
          }
        }
      }
    }
  }

  .swiper-slide-next + div + div:not(:last-child) {
    @media (max-width: 1919px) {
      border-color: transparent !important;
    }
  }
}
