.category-title {
  font-family: $muli;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 15px;
}

.category-results,
.category-results a {
  line-height: 1;
  font-family: $raisonne;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  > div {
    margin-bottom: 16px;
  }

  strong {
    font-weight: bold;
  }
}

.search-results {
  margin-bottom: 105px;
  &__category-list {
    padding: 25px 40px;
    border-bottom: solid 1px #414141;

    @media (min-width: 1920px) {
      padding-left: 62px;
      padding-right: 62px;
    }
  }
  &__category-result {
    a {
      font-weight: bold;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__category-header {
    &--selected {
      margin-bottom: 0;
    }
  }
  &__header {
    background: $black;

    h2 {
      color: $white;
      font-family: $muli;
      font-weight: bold;
      font-size: 12px;
      line-height: 1;
      padding: 20px 40px;
      text-transform: uppercase;

      @media (min-width: 1920px) {
        padding-left: 62px;
        padding-right: 62px;
      }
    }
  }
  &__no-results-msg {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 34px;
      font-family: $raisonne;
      line-height: 30px;
      font-weight: $weight-demibold;
      text-align: center;
      margin-bottom: 35px;
    }
    p {
      font-family: $muli;
      font-size: 15px;
      line-height: 15px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  &__msg-container {
    max-width: 400px;
  }
  .teaser {
    &__img {
      position: relative;

      @media (min-width: 700px) {
        padding-top: calc(557 / 379.33 * 100%);
      }

      img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        @media (max-width: 699px) {
          width: 100%;
          height: auto;
          position: static;
        }
      }
    }

    &-content {
      &--third {
        border-bottom: solid 1px $black;
        border-left: 0;
        border-right: solid 1px $black;
        @media (min-width: 700px) {
          &:first-of-type,
          &:nth-of-type(3n) {
            .teaser__img {
              padding-top: calc(557 / 393.33 * 100%);
            }
          }

          &:nth-of-type(3n) {
            border-right: 0;
          }

          &:nth-of-type(3n - 2) {
            border-left: 0;
            padding-left: 0;
          }
        }

        @media (max-width: 699px) {
          width: 100% !important;
          padding-left: 0;
          padding-right: 0;
          border-right: 0;
          border: 0;
          border-bottom: solid 1px $black;
          &:last-of-type {
            border-right: 0;
          }
        }
      }
    }
  }
}
