.services-page {
  .teaser-content {
    flex-wrap: wrap;
  }
}

.services-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;

  .react-tabs {
    &__tab--title {
      margin-right: 5px;
      font-family: "muli", sans-serif;
      font-weight: 700;
      line-height: 24px;
      height: 35px;
      border: #000000 solid 1px;
      border-radius: 3px;
      border-bottom: 0;
      padding: 0 15px;
      text-transform: none;
      background-color: #000000;
      display: inline-block;
      color: white;
      width: auto;

      h2 {
        padding: 0 15px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
        font-weight: 600;
        font-size: 1.25rem;
        margin: 0;
        padding: 2.5px 16px;
        text-transform: none;
      }
    }
  }

  .tabbed-content {
    &__link {
      display: inline-block;
    }
  }
}
