.tabbed-content {
  @media (max-width: 940px) {
    .flex {
      flex-wrap: wrap;
    }
  }
  .teaser-content {
    display: flex;
  }

  @media (max-width: $medium-media) {
    margin-left: 14px;
    margin-right: 14px;
  }

  &__section-link {
    background: $black;
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 14px;
    padding-right: 14px;

    @media (min-width: $medium-media) and (max-width: 700px) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    a {
      font-family: $muli;
      color: $white;
      font-size: 12px;
      line-height: 15px;
      padding: 17px 0;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
    }
  }

  &__dropdown {
    @media (min-width: 700px) {
      position: relative;
      overflow: hidden;
      height: 35px;
    }
  }

  &__link {
    flex-grow: 1;
    text-align: right;
    margin-right: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    a {
      font-family: $muli;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__dropdown-button {
    button {
      width: 100%;
      border: solid 1px $black;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      font-family: $muli;
      padding: 13px;
      box-sizing: border-box;
      background: transparent;
      border-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        outline: 0;
      }
    }
  }

  &__dropdown-button-icon {
    display: inline-block;
    margin-left: 10px;
    transform: none;
    transition: transform 300ms ease;

    &.rotate {
      transform: rotate(180deg);
    }

    span {
      display: flex;
      align-items: center;
    }
  }

  .teaser-container {
    margin-top: 0;
    margin-bottom: 0;

    &__top {
      border-bottom: 0;
      &.active {
        cursor: grabbing;
        cursor: -webkit-grabbing;
      }
      &--tabs {
        justify-content: normal;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        height: 100%;
        padding-bottom: 20px;

        @media (max-width: 700px) {
          display: flex;
          flex-direction: column;
          width: 100%;
          background: $white;
          z-index: 9;
          transition: all 300ms ease-in-out;
          max-height: 0;
          overflow: hidden;
          border: solid 1px $black;
          box-sizing: border-box;
          border-top: 0;
          left: 0;
          right: 0;
          padding: 0;
          border-bottom: 0;
        }
      }

      &--mobile {
        border-bottom: 1px solid $black;
        margin-bottom: 14.5px;
      }
      @media (max-width: 700px) {
        &--tab-show {
          max-height: 10000px;
          //opacity: 1;
          height: auto;
          padding: 0;
          .react-tabs__tab:last-of-type {
            border-bottom: 1px solid $black;
          }
        }
        &--tab-hide {
          max-height: 0px;
          //opacity: 0;
        }
      }
    }
  }

  .react-tabs {
    &__tab {
      margin-right: 5px;
      font-family: $muli;
      font-weight: $weight-bold;
      line-height: 24px;
      height: 35px;
      border: $black solid 1px;
      border-radius: 3px;
      border-bottom: 0;
      padding: 0 15px;
      align-self: flex-start;

      h3 {
        font-size: 14px;
        font-weight: normal;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      &:not(.teaser__title) {
        text-transform: uppercase;
      }

      @media (min-width: 700px) and (max-width: 1200px) {
        padding-left: 5px;
        padding-right: 5px;
      }

      @media (max-width: 700px) {
        width: 100%;
        border-radius: 0;
        box-sizing: border-box;
        border-left: 0;
        border-right: 0;
        border-width: 1px;
      }

      &.react-tabs__tab--highlight-green {
        border-color: #225833;
        h3 {
          color: #225833;
          font-weight: bold;
        }
      }

      &:hover {
        background: $black;
        transition: all 300ms ease;

        h3 {
          color: $white;
        }
        &.react-tabs__tab--highlight-green {
          background: #225833;
          border-color: #225833;

          h3 {
            color: $white;
          }
        }
      }

      &--selected {
        background: $black;

        h3 {
          color: $white;
        }

        &.react-tabs__tab--highlight-green {
          background: #225833;
          border-color: #225833;

          h3 {
            color: $white;
          }
        }
      }
    }
    &__tab-panel {
      border-top: solid $black 1px;
    }
  }

  .teaser {
    &__title {
      border: 0;
      &.react-tabs {
        &__tab {
          padding: 0;
          margin: 0;
          margin-right: 6px;
          border-radius: 0;
        }
      }
    }

    &__span {
      @media (max-width: 940px) {
        font-size: 13px;
        line-height: 16px;
      }
    }

    &__span-container {
      margin-bottom: 0;

      // @media (max-width: 940px) {
      //   text-align: center;
      // }
    }

    &-content {
      @media (max-width: 700px) {
        margin-top: 0;
        border-top: 0;
      }
      @media (min-width: 701px) and (max-width: 940px) {
        flex-wrap: wrap;
        margin-top: 12px;
        border-top: solid 1px $black;
      }

      &__inside {
        @media (max-width: 940px) {
          //margin-top: -20px;
        }
      }

      &--fourth {
        padding: 0 2rem 1rem 2rem;
        box-sizing: border-box;
        padding-bottom: 83px;
        border-right: solid 1px $black;

        @media (min-width: 700px) and (max-width: 939px) {
          width: 50%;
          border-bottom: solid 1px $black;
          padding-bottom: 30px;
        }

        .teaser__img {
          margin-top: 30px;
          margin-bottom: 42px;

          @media (max-width: 940px) {
            margin-bottom: 5px;
          }

          img {
            width: auto;
            height: auto;

            @media (max-width: 940px) {
              margin-left: auto;
              margin-right: auto;
              width: 100px;
              display: block;
            }
          }
        }
        .teaser__description {
          font-size: 18px;
          line-height: 23px;
          font-weight: normal;

          @media (max-width: 940px) {
            display: none;
          }

          a {
            &:not(.view-more--arrow) {
              text-decoration: underline;
              font-size: inherit;
              font-size: 18px;
              line-height: 23px;
              font-weight: bold;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }

      &--services {
        border-bottom: 0;
        border-top: solid 1px $black;

        @media (min-width: 1920px) {
          padding-right: 90px;
          padding-left: 49px;

          .teaser__subject {
            margin-top: 61px;
          }

          &:nth-of-type(4n - 3) {
            padding-left: 99px;
          }
          &:nth-of-type(4n) {
            padding-right: 99px;
          }
        }

        @media (min-width: 940px) {
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3),
          &:nth-of-type(4) {
            border-top: 0;
          }
          &:last-of-type {
            border-right: 0;
          }
        }

        .teaser {
          &__img {
            height: 130px;
            display: flex;
            align-items: flex-start;
            margin-bottom: 5px;
            width: 100px;

            svg {
              width: 100%;
              height: auto;
              max-height: 90%;
            }

            @media (max-width: 700px) {
              justify-content: center;
              margin-left: 0;
            }
          }
          &__description {
            display: block;
          }
        }

        @media (min-width: 701px) and (max-width: 939px) {
          width: 50%;
          &:nth-of-type(1),
          &:nth-of-type(2) {
            border-top: 0;
          }

          &:nth-of-type(2n) {
            border-right: 0;
          }
        }

        @media (max-width: 700px) {
          width: 100%;
          border-left: 0;
          border-right: 0;

          &:nth-of-type(1) {
            border-top: 0;
          }
        }
      }
    }

    &__subject {
      margin-top: 3.4375rem;
    }
  }

  &--stores,
  &--whats-on {
    .teaser-container {
      border-bottom: 0;
      overflow: hidden;
    }
    .teaser-content {
      flex-wrap: wrap;

      @media (min-width: 700px) {
        margin-left: -14px;
        margin-right: -14px;
      }

      &--bentalls {
        @media (min-width: 940px) {
          .teaser-content__inside {
            max-width: calc(100% - 14px);
          }
          > div {
            &:nth-of-type(2) {
              //&:nth-of-type(4n + 5) {
              border-right: 0;
              padding-right: 0;
            }
          }
        }
      }

      > div {
        display: flex;
        flex-direction: column;

        .teaser-content {
          &__inside {
            flex-grow: 1;
            display: flex;
            flex-direction: column;

            .teaser__description {
              flex-grow: 1;
            }
          }
        }
      }

      &--half {
        //border-top: 1px solid $black;
        //padding-bottom: 9px;
        border-bottom: 1px solid $black;

        .teaser__img img {
          height: 414px;

          @media (max-width: 700px) {
            width: 100%;
            height: auto;
          }

          @media (min-width: 700px) and (max-width: 939px) {
            height: 200px;
          }
        }
        .teaser__subject {
          margin: 20px 0;
        }
      }
      &--fourth {
        padding: 14px;
        padding-bottom: 9px;
        border-bottom: 1px solid $black;

        .teaser {
          &__img {
            margin-top: 0;
            margin-bottom: 0;

            img {
              width: 100%;
              height: 200px;

              @media (max-width: 700px) {
                width: 100%;
                height: auto;
              }
            }
          }
          &__subject {
            margin: 20px 0;
          }
        }
      }
      &--half-border-right {
        border-right: 1px solid $black;
      }
    }
  }

  &--stores {
    .teaser__tag-container {
      margin-top: 20px;
    }
    // .teaser-content--half:first-of-type {
    //   padding-left: 0;
    //   padding-right: 0;
    // }
    .teaser-content--half,
    .teaser-content--fourth {
      .teaser__subject {
        margin-top: 10px !important;
      }
      .teaser__img {
        padding-top: calc(221 / 347 * 100%);
      }
      a {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      .teaser-content__inside {
        flex-grow: 1;
      }
    }
    @media (min-width: 700px) {
      .teaser-content--half {
        &:first-of-type {
          padding-left: 14px;
        }
      }
    }
    @media (min-width: 1366px) {
      .teaser-content--half {
        .teaser__img {
          padding-top: calc(414 / 648 * 100%);
          height: auto;
          position: relative;

          img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }

      .teaser-content--fourth {
        .teaser__img {
          padding-top: calc(200 / 302 * 100%);
          position: relative;
          height: auto;
          img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
    }
  }

  &--whats-on {
    margin-bottom: 100px;
    .teaser-content {
      &--fourth {
        .teaser {
          &__img {
            padding-top: calc(340 / 311 * 100%);
            @media (min-width: 1366px) {
              padding-top: calc(340 / 309.5 * 100%);
              position: relative;

              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100% !important;
              }
            }
          }
        }
        &:nth-of-type(4) {
          border-right: solid 1px $black;
        }
        .teaser {
          &__img {
            img {
              @media (min-width: 700px) {
                height: 340px;
              }
            }
          }
        }
        .teaser__subject {
          margin: 0;
          margin-top: 6px;
        }
        .teaser__tag-container {
          margin-top: 60px;
        }
      }
      &--half {
        &:first-of-type {
          padding-left: 14px;
        }
        &:nth-of-type(1),
        &:nth-of-type(2) {
          border-top: 0;
        }

        .teaser {
          &__img {
            padding-top: calc(218 / 347 * 100%);
            @media (min-width: 1366px) {
              padding-top: calc(410 / 648 * 100%);
              position: relative;

              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .teaser__subject {
          margin: 17px 0 0 0;
        }
        .teaser__tag-container {
          margin-top: 60px;
        }
      }
    }
    .teaser-content--fourth,
    .teaser-content--half {
      display: flex;
      flex-direction: column;

      @media (max-width: 699px) {
        width: 100%;
        border-left: 0 !important;
        border-right: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-bottom: 1px solid $black !important;
      }
    }
  }

  &--stores,
  &--centres {
    margin-bottom: 100px;
    .teaser-content {
      flex-wrap: wrap;

      &--half {
        border-bottom: 1px solid $black;

        @media (max-width: 700px) {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          border-left: none;
          border-right: none;
        }
      }

      &--fourth {
        @media (max-width: 700px) {
          width: 100%;
          border-right: 0;
          padding-left: 0;
          padding-right: 0;
          border-bottom: 1px solid $black;
        }

        @media (max-width: 940px) {
          .teaser__description {
            display: block;
          }
        }
      }
    }

    .teaser-content {
      &--half,
      &--fourth,
      &--full-width {
        border-bottom: solid 1px $black;
      }
      &--full-width,
      &--fourth {
        padding: 14px;
        @media (max-width: 699px) {
          padding-left: 0;
          padding-right: 0;
        }
      }

      .teaser {
        &__img {
          margin-top: 0;
          margin-bottom: 0;
          img {
            width: 100%;
          }
        }
        &__subject {
          margin: 20px 0;
        }
      }
    }
  }

  &--centres {
    margin-top: 70px;

    .teaser-container {
      border-bottom: 0;
    }
    .teaser {
      &-content {
        @media (max-width: 700px) {
          &--half {
            padding: 35px 14px;
          }
          &__inside p:last-child {
            margin-bottom: 0;
          }
        }
      }

      &__subject {
        @media (max-width: 700px) {
          margin-top: 0 !important;
        }
      }
    }

    .tabbed-content__teasers {
      &--opening-hours,
      &--about-us,
      &--getting-here,
      &--sustainability,
      &--click-collect,
      &--parking {
        .teaser-content {
          &--half {
            &:nth-of-type(2) {
              padding-left: 35px;
              padding-right: 20px;
              padding-top: 60px;
              border-right: 0;

              @media (max-width: 700px) {
                padding: 35px 14px;
              }

              @media (min-width: 1920px) {
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 60px;
              }

              .teaser__subject {
                margin-top: 0;
              }

              .teaser__description {
                width: calc(338 / 608 * 100%);

                @media (max-width: 940px) {
                  width: 100%;
                }
              }
            }
          }

          &--full-width {
            padding-left: 0;
            padding-right: 0;
            @media (max-width: 700px) {
              padding: 14px 0;
            }
          }

          &--fourth {
            padding-left: 35px;
            padding-right: 35px;
            padding-bottom: 60px;
            padding-top: 20px;

            @media (min-width: 1920px) {
              padding-left: 50px;
              padding-right: 50px;

              .teaser {
                &__description {
                  max-width: 300px;
                }
              }
            }

            &:nth-of-type(4) {
              padding-left: 17px;
              @media (max-width: 700px) {
                padding-left: 14px;
              }

              @media (min-width: 700px) {
                border-right: solid 1px $black;
              }

              @media (min-width: 1920px) {
                padding-left: 50px;
              }
            }

            &:nth-of-type(7) {
              border-right: 0;
            }

            &:nth-of-type(5) {
              @media (min-width: 700px) and (max-width: 940px) {
                border-right: 0;
              }
            }

            &:nth-of-type(7) {
              padding-right: 17px;
              @media (max-width: 700px) {
                padding-right: 14px;
              }
            }

            @media (max-width: 700px) {
              padding: 35px 14px;
            }

            @media (min-width: 1920px) {
              &.item-0 {
                padding-left: 36px;
              }
              &.item-3 {
                padding-right: 36px;
              }
            }
          }

          &--half {
            &:nth-of-type(4) {
              border-right: 0;
            }
          }
        }
      }
      &--about-us,
      &--getting-here,
      &--sustainability,
      &--click-collect,
      &--parking {
        .teaser-content--half:nth-of-type(2) .teaser__description {
          width: 100%;
          @media (min-width: 1000px) {
            width: 80%;
          }
        }
        &.item-0 {
          @media (min-width: 700px) {
            padding-left: 17px;
          }

          @media (min-width: 1920px) {
            padding-left: 36px;
          }
        }
        &.item-1,
        &.item-2 {
          @media (min-width: 700px) {
            padding-left: 35px;
            padding-right: 35px;
          }

          @media (min-width: 1920px) {
            padding-left: 50px;
            padding-right: 50px;
          }
        }
        .teaser__description {
          margin-bottom: 30px;
        }
        h3 {
          font-size: 20px;
          line-height: 25px;
          text-transform: uppercase;
        }
      }

      &--about-us,
      &--sustainability,
      &--click-collect {
        .teaser-content {
          &--fourth {
            &:nth-of-type(4) {
              @media (min-width: 700px) and (max-width: 940px) {
                border-right: 0;
              }
            }
            &:nth-of-type(5) {
              @media (min-width: 700px) and (max-width: 940px) {
                border-right: solid 1px $black;
              }
            }
            &:nth-of-type(6) {
              @media (min-width: 700px) {
                border-right: 0;
              }
            }
            &.item-0 {
              @media (min-width: 700px) {
                padding-left: 17px;
              }

              @media (min-width: 1920px) {
                padding-left: 36px;
              }
            }
            &.item-1,
            &.item-2 {
              @media (min-width: 700px) {
                padding-left: 35px;
                padding-right: 35px;
              }

              @media (min-width: 1920px) {
                padding-left: 50px;
                padding-right: 50px;
              }
            }
          }
        }
      }

      &--opening-hours,
      &--parking,
      &--getting-here,
      &--about-us,
      &--sustainability,
      &--click-collect {
        .teaser-content {
          &--half {
            @media (max-width: 700px) {
              &:first-of-type {
                padding: 14px 0;
              }
            }
          }
        }
      }

      &--parking {
        & .table--parking {
          width: 50%;
        }
        table {
          width: 100%;
          font-family: $muli;
          font-size: 18px;
          line-height: 23px;
          margin-bottom: 30px;

          th {
            font-family: $raisonne;
            font-size: 20px;
            line-height: 25px;
            text-align: left;
            font-weight: $weight-demibold;
            padding-bottom: 10px;
          }
        }

        @media (min-width: 720px) {
          .teaser-content {
            &--half {
              &:nth-of-type(3n) {
                padding-left: 17px;
              }

              &:nth-of-type(4n) {
                padding-left: 35px;
              }
            }
          }
        }

        @media (min-width: 1920px) {
          .teaser-content {
            &--half {
              &:nth-of-type(3n) {
                padding-left: 36px;
                padding-right: 50px;
              }

              &:nth-of-type(4n) {
                padding-left: 50px;
                padding-right: 36px;
              }
            }
          }
        }
      }
    }

    .teaser-content {
      &--fourth,
      &--half {
        &:hover {
          .teaser {
            &__subject {
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  &--restaurants {
    .teaser-container {
      overflow: hidden;
    }
    .content-search {
      @media (max-width: 700px) {
        border-bottom: 0;
      }
    }
    .teaser-content {
      border-top: 0;

      @media (min-width: 700px) {
        margin-left: -14px;
        margin-right: -14px;
      }
      &--third {
        border-top: solid 1px $black;

        @media (min-width: 700px) and (max-width: 940px) {
          width: 50% !important;
          border-right: solid 1px $black;

          &:nth-of-type(1),
          &:nth-of-type(2) {
            border-top: 0;
          }

          &:nth-of-type(2n) {
            border-right: none;
            padding-right: 14px;
          }

          &:nth-of-type(2n - 1) {
            border-left: none;
            padding-left: 17px;
            padding-right: 14px;
          }
        }

        @media (max-width: 699px) {
          width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          border-left: 0 !important;
          border-right: 0 !important;

          &:empty {
            display: none;
          }
        }

        @media (min-width: 940px) {
          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) {
            border-top: 0;
          }
        }
        a {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        &:nth-of-type(3n - 2) {
          @media (min-width: 940px) {
            padding-left: 14px;
          }
        }
        &:nth-of-type(3n) {
          @media (min-width: 940px) {
            padding-right: 14px;
            border-right: 0;
          }
        }
        .teaser {
          &__span-container {
            margin-top: 20px;
          }
          &__img {
            padding-top: calc(268 / 413.66 * 100%);
            position: relative;
            img {
              //height: 268px;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
            }
          }
          &__subject {
            margin-top: 7px;
            margin-bottom: 15px;
          }
          &__description {
            margin-bottom: 60px;
            flex-grow: 1;
          }
        }
      }

      &__inside {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }
  }

  &--border {
    .tabbed-content__dropdown {
      border-bottom: solid 1px $black;
    }
    .react-tabs__tab-panel {
      border-top: 0;
    }
  }

  &--services-facilities-footer {
    .tabbed-content__link {
      margin-right: 0;
    }
    @media (max-width: 700px) {
      .teaser-container {
        border-bottom: 0;
      }
      .teaser-content {
        flex-wrap: wrap;
      }
    }
  }
}

.opening-times {
  text-align: left;
  margin-top: 30px;
  * {
    font-size: 18px;
    font-family: $muli;
    font-weight: normal;

    @media (min-width: 940px) {
      font-size: 16px;
    }

    @media (min-width: 1366px) {
      font-size: 18px;
    }
  }
  tr {
    td {
      padding-bottom: 5px;
      &:first-child {
        padding-right: 20px;

        @media (min-width: 940px) {
          padding-right: 10px;
        }

        @media (min-width: 1366px) {
          padding-right: 20px;
        }

        @media (min-width: 1920px) {
          padding-right: 60px;
        }
      }

      &:last-of-type {
        width: 50%;
        text-align: left;
      }
    }
  }
}

.tabbed-content {
  position: relative;

  &--stores {
    @media (min-width: 700px) and (max-width: 1700px) {
      .teaser-container {
        &__top {
          &--tabs {
            overflow-y: unset;
            overflow-x: unset;
            padding-bottom: 0;
            margin-bottom: -20px;
            flex-wrap: wrap;
          }
        }
      }

      .tabbed-content__dropdown {
        height: auto;
      }

      .react-tabs {
        &__tab {
          margin-bottom: 20px;
          &--title {
            &::after {
              content: "";
              position: absolute;
              bottom: -1px;
              width: 100vw;
              height: 1px;
              background: black;
            }
          }
        }
      }
    }
  }
}

.parking-icons {
  margin-bottom: 30px;
  flex-wrap: nowrap !important;

  img {
    width: 60px;
    height: auto;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .teaser {
    &__description {
      margin: 0 !important;
    }
  }
}

.teaser__pdf {
  margin-top: 15px;
  a {
    text-decoration: underline;
  }
}
