/*
  TODO:

  This & the tabbed scss file needs tidying up and splitting out
  based on pages.

  Lots of !important rules to get rid of.
*/
.teaser-container {
  margin: 55px 0 100px 0;
  border-bottom: 1px solid $black;

  &.restaurant-slider {
    @media (min-width: 1920px) {
      margin: 55px 0px 100px 0px;

      .teaser-container__top.container {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &--single-page {
    border-top: 1px solid $black;

    .teaser-content {
      &--fourth {
        border-right: solid 1px $black;
        padding: 32px 34px;
        box-sizing: border-box;

        @media (max-width: 700px) {
          &:last-of-type {
            border-bottom: 0;
          }
        }

        .teaser {
          &__subject {
            margin-top: 0;
          }
          &__span-container {
            margin-bottom: 0;
          }
        }

        &:hover {
          .teaser {
            &__subject {
              text-decoration: none !important;
            }
          }
        }

        @media (min-width: 1920px) {
          padding: 50px;

          .teaser {
            &__subject {
              margin-top: 0;
            }
          }
        }

        &:nth-of-type(3) {
          padding-left: 0;

          @media (min-width: 701px) and (max-width: 939px) {
            padding-left: 34px;
            border-bottom: solid 1px black;
          }

          @media (min-width: 940px) {
            padding-left: 17px;
          }

          @media (min-width: 1920px) {
            padding-left: 36px;
          }
        }

        &:nth-of-type(4) {
          @media (min-width: 701px) and (max-width: 939px) {
            border-bottom: solid 1px black;
          }
        }

        &:nth-of-type(6) {
          border-right: 0;
          padding-right: 0;
        }

        @media (min-width: 701px) and (max-width: 939px) {
          width: 50%;

          &:nth-of-type(4) {
            padding-right: 0;
            border-right: 0;
          }
        }

        @media (max-width: 700px) {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          border-left: 0;
          border-right: 0;
          border-bottom: solid 1px $black;
        }

        &--contact {
          a {
            text-decoration: none;
          }
        }
      }
      &--half {
        border-bottom: solid 1px $black;

        @media (max-width: 700px) {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          border-left: 0;
          border-right: 0;
        }
      }
    }

    .social {
      margin-top: 15px;
      p {
        margin-bottom: 14px;
      }
      &__container {
        display: flex;
        align-items: center;
      }
      &__icon {
        width: 20px;
        height: 15px;
        margin-right: 10px;

        img {
          height: 100%;
          width: auto;
          display: block;
          margin: auto;
        }
      }
    }
  }

  &__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid $black;

    .teaser {
      &__title {
        font-family: $raisonne;
        text-transform: none;
        background-color: $black;
        display: inline-block;

        &.react-tabs__tab {
          padding: 0;
          margin: 0;
        }

        h2 {
          color: $white;
          font-weight: $weight-demibold;
          font-size: $font-20px;
          margin: 0;
          padding: 2.5px 16px;
          text-transform: none;
        }
      }

      &__view-more {
        a {
          font-family: $muli;
          font-weight: $weight-bold;
          font-size: $font-12px;
          text-transform: uppercase;

          img {
            width: 28px;
            height: 10px;
            margin: 0 0 0 8px;
            padding-right: 0;
          }
        }
      }
    }
  }

  &--careers {
    border-top: 1px solid $black;
    border-bottom: 0;
    margin-top: 0;

    .teaser-content--third {
      @media (max-width: 650px) {
        width: 100% !important;
        border-right: 0;
      }
    }

    .teaser {
      &--careers {
        .teaser-content {
          &__inside {
            display: flex;
            flex-direction: column;
          }
        }
        &__description {
          flex-grow: 1;
        }
        &__heading-container {
          margin-bottom: 90px;
        }
        &__heading {
          font-family: $raisonne;
          font-weight: $weight-demibold;
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 0;

          .small {
            font-family: $muli;
            font-size: 14px;
            font-weight: normal;
          }
        }

        &__subheading {
          font-size: 12px;
          line-height: 15px;
          font-weight: bold;
          margin-bottom: 17px;
        }
      }
    }

    .teaser-content__container {
      flex-wrap: wrap;
    }

    .teaser-content--third {
      border-bottom: solid 1px $black;
      padding-top: 30px;
      padding-bottom: 30px;

      @media (min-width: 1920px) {
        padding: 50px;
      }

      &:nth-of-type(3n) {
        border-right: 0 !important;

        @media (min-width: 1920px) {
          padding-right: 36px;
        }
      }

      &:nth-of-type(3n - 2) {
        padding-left: 14px;
        @media (min-width: 700px) {
          padding-left: 24px;
        }

        @media (min-width: 1920px) {
          padding-left: 36px;
        }
      }
    }
  }
}

.teaser-content {
  &__container {
    display: flex;
  }

  &__inside {
    &--featured-products {
      padding-bottom: 34px;
      margin-top: 12px;

      .teaser {
        &__subject {
          margin-bottom: 5px !important;

          &--small {
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 0 !important;
          }
        }
      }
    }
  }

  &--full {
    width: 100%;

    @media (max-width: 520px) {
      .flex--space-between {
        flex-wrap: wrap;
      }
      .teaser__tag-container {
        width: 100%;
        align-items: center;
        margin-top: 6px;
      }
      .teaser__tag--deal {
        margin-top: 5px;
      }
      .teaser__span-container {
        width: 100%;
        span {
          width: 100%;
        }
      }
    }

    .teaser {
      &__img {
        img {
          border-bottom: 1px solid $black;
        }
      }
    }
  }

  &--half {
    width: 50%;
    padding: 14px;
    border-right: 1px solid $black;
    box-sizing: border-box;

    &:first-of-type {
      padding-left: 0px;
    }
  }
  &--details {
    padding: 50px 35px;
    border-right: 0;

    @media (min-width: 1920px) {
      padding: 70px 50px;
    }

    .teaser-content__inside {
      @media (min-width: 700px) {
        width: calc(460 / 585 * 100%);
      }
      p {
        margin-bottom: 30px;
      }
    }

    .teaser {
      &__span-container {
        margin: 0;
      }
      &__subject {
        font-size: 34px;
        font-weight: $weight-demibold;
        line-height: 50px;
        margin-top: 0;
      }
    }

    &:hover {
      .teaser {
        &__subject {
          text-decoration: none !important;
        }
      }
    }
  }

  &--fourth {
    width: 25%;
  }

  &--full-width {
    width: 100%;
  }

  &--third {
    width: 33.333% !important;
    padding: 14px 14px 9px 14px;
    border-right: 1px solid $black;
    box-sizing: border-box;

    &:first-of-type {
      padding-left: 0px;
    }

    &:nth-of-type(3n) {
      border-right: 0;
      padding-right: 0;
    }
  }

  &--landscape {
    width: 311px !important;
    @media only screen and (min-width: $medium-media) {
      width: 565px !important;
    }

    @media (min-width: 1366px) {
      width: calc(567 / 1340 * 100%) !important;

      .teaser {
        &__img {
          padding-top: calc(340 / 538 * 100%);
          position: relative;
          height: auto !important;

          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100% !important;
          }
        }
      }
    }
  }

  &--portrait {
    width: 191px !important;
    @media only screen and (min-width: $medium-media) {
      width: 339px !important;
    }
    @media (min-width: 1366px) {
      width: calc(339 / 1340 * 100%) !important;

      .teaser {
        &__img {
          padding-top: calc(340 / 310 * 100%);
          position: relative;
          height: auto !important;

          img {
            position: absolute;
            width: 100%;
            height: 100% !important;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  &--portrait,
  &--landscape,
  &--medium {
    border: solid 1px $black;
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    padding: 14px;
    padding-bottom: 9px;
    box-sizing: border-box;

    .teaser__img img,
    .teaser__img {
      height: 179px;
      @media only screen and (min-width: $medium-media) {
        height: 354px;
      }
    }

    .teaser__span-container {
      margin-bottom: 0;
    }

    .teaser__tag-container {
      margin-top: 65px;
    }

    .teaser__subject {
      margin-top: 8px;
      margin-bottom: 0;
    }
  }
  &--cinema {
    .teaser {
      &__subject {
        margin-top: 25px;
      }
    }
  }
  &--medium {
    width: 207px !important;
    height: 100%;
    @media only screen and (min-width: $medium-media) {
      width: 339px !important;
    }

    .teaser {
      &__subject {
        margin-bottom: 20px;
      }

      &__description {
        margin-bottom: 70px;
      }

      &__img,
      &__img img {
        height: 142px;
        @media only screen and (min-width: $medium-media) {
          height: 210px;
        }
      }
    }

    a {
      position: relative;

      &:hover {
        * {
          opacity: 0.9;
        }
      }
    }
  }

  &--featured-product {
    &.teaser-content--medium {
      width: 297px !important;

      @media (max-width: 700px) {
        &.swiper-slide-active {
          padding-left: 0;
          border-left-color: transparent;
        }
      }
      @media only screen and (min-width: $medium-media) {
        width: 339px !important;
      }

      @media (min-width: 1920px) {
        width: 20% !important;
      }
    }
    .teaser__img img,
    .teaser__img {
      height: 388px;
      @media only screen and (min-width: $medium-media) {
        height: 427px;
      }
    }

    .teaser__img {
      @media (min-width: 1920px) {
        height: auto;
        padding-top: calc(494 / 359 * 100%);

        img {
          position: absolute;
          height: 100%;
          top: 0;

          &.hover {
            height: 100%;
          }
        }
      }
    }
  }

  &--restaurant {
    box-sizing: border-box;
    width: calc(297 / 347 * 100%) !important;
    padding: 14px;
    border-right: 1px solid $black;

    @media only screen and (min-width: $medium-media) {
      width: auto !important;
      flex-basis: 33.333%;
    }

    @media (min-width: 1920px) {
      width: calc(25%) !important;
      height: auto !important;
    }
    .teaser__img {
      margin-bottom: 7px;
    }
    .teaser__img img,
    .teaser__img {
      height: 179px;
      @media only screen and (min-width: $medium-media) {
        height: 270px;
      }
    }

    .teaser__subject {
      margin-top: 8px;
    }

    .teaser__description {
      margin-bottom: 73px;
      @media only screen and (min-width: $medium-media) {
        margin-bottom: 62px;
      }
    }
  }
}

.teaser {
  &__img {
    img {
      width: 100%;
      height: 420px;
      object-fit: cover;
      border-bottom: 0px solid $black;
    }
    &--portrait {
      img {
        height: auto;
        @media (min-width: 940px) {
          height: 768px;
        }
      }
    }
    &--landscape {
      img {
        height: auto;
        @media (min-width: 940px) {
          height: 440px;
        }
      }
    }
  }

  &__tag {
    border: 1px solid black;
    border-radius: 2px;
    padding: 2px 12px;
    margin: 0 5px 5px 0;
    display: inline-block;
    font-family: $muli;
    font-weight: $weight-reg;
    font-size: $font-14px;
    line-height: 18px;
    color: $black;
    text-transform: uppercase;

    // &:hover {
    //   color: $white;
    //   background-color: $black;
    // }

    &:last-child {
      margin: 0 5px 5px 0;
    }

    &--deal {
      margin: 0;
      &:last-child {
        margin: 0;
      }
    }

    &--pink {
      color: $pink-900;
      border: 1px solid $pink-900;
    }

    &--green {
      color: #206408;
      border: 1px solid #206408;
    }

    &-container {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  &__span {
    font-family: $muli;
    font-weight: $weight-bold;
    font-size: $font-12px;
    color: $black;
    text-transform: uppercase;

    &--status-open {
      &::before {
        content: "\25CF";
        color: $open;
        font-size: 16px;
        margin: 0 6px 0 0;
      }
    }

    &--status-closed {
      &::before {
        content: "\25CF";
        color: $closed;
        font-size: 16px;
        margin: 0 6px 0 0;
      }
    }

    &-container {
      margin: 10px 0;
    }
  }

  &__subject {
    font-weight: $weight-bold;
    font-size: $font-20px;
    color: $black;
    line-height: 25px;
    text-transform: none;
    margin: 15px 0;

    &--no-underline {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      margin-top: 0px !important;
    }

    &--not-bold {
      font-weight: normal;
    }
  }

  &__date {
    font-weight: $weight-reg;
    font-size: $font-20px;
    color: $black;
    line-height: 25px;
    text-transform: none;
    margin: 0;
  }

  &__description,
  &__description *:not(.link--arrow):not(.view-more--arrow) {
    font-family: $muli;
    font-weight: $weight-reg;
    font-size: $font-18px;
    color: $black;
    line-height: 23px;
    word-break: break-word;

    strong {
      font-weight: bold !important;
    }
    .link--arrow {
      text-decoration: none;
      margin-top: 40px;
      display: inline-block;
    }

    h3,
    h4 {
      margin-bottom: 30px;

      font-weight: 600 !important;
    }

    h3 {
      font-size: 20px !important;
    }

    h4 {
      font-size: 18px !important;
    }

    ul,
    ol {
      margin: 30px 0 15px;
      list-style: initial;
      margin-left: 30px;

      li {
        margin-bottom: 15px;
      }
    }

    ol {
      list-style: decimal;
    }
  }

  &__description {
    a:not(.view-more--arrow) {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
    p {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.teaser__span-container.teaser__span-container--date {
  margin-top: 15px;
}

.teaser {
  &__img {
    position: relative;
    &:not(.teaser__img--svg) {
      > div {
        &:first-child {
          position: absolute !important;
          left: 0;
          right: 0;
          top: 0;
          height: 100%;
          width: 100%;
        }
      }
    }

    &--svg {
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      display: flex;

      > div {
        height: 100%;
        max-height: 125px;

        @media (min-width: 1366px) {
          max-height: 175px;
        }
      }

      svg {
        height: 100%;
        width: auto;

        @media (max-width: 700px) {
          height: 125px;
          width: auto;
        }
      }
    }
    &--dotd {
      @media (min-width: 1366px) {
        padding-top: calc(499 / 1326 * 100%);
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          right: 0;
          height: 100% !important;
          bottom: 0;
        }
      }
    }

    &--restaurant {
      @media (min-width: 1366px) {
        padding-top: calc(270 / 422 * 100%);
        position: relative;
        height: auto !important;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          right: 0;
          height: 100% !important;
          bottom: 0;
        }
      }
    }
  }
}

.teaser-content__container {
  &--whats-on {
    margin-left: -14px;

    .swiper-slide-active {
      border-left-color: transparent;
    }

    .teaser {
      &__subject {
        margin-top: 6px;
      }
    }
  }
}

.swiper-slide,
.teaser-content--fourth,
.teaser-content--half {
  * {
    transition: all 300ms ease;
  }

  &:hover {
    .teaser__img {
      img:not(.hover) {
        opacity: 0.9;
      }
    }
    .teaser__subject:not(.teaser__subject--small) {
      text-decoration: underline;
    }
  }
}

.swiper-slide,
.teaser-content--third,
.teaser-content--half,
.teaser-content--fourth {
  * {
    transition: all 300ms ease;
  }
  .hover {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  &:hover {
    .teaser__img {
      img:not(.hover) {
        opacity: 0.9;
      }
      .hover {
        opacity: 1;
      }
    }
  }
}

.swiper-slide {
  &:first-of-type {
    border-left: 0;
  }
}

.teaser-container {
  &--dotd {
    .teaser__img {
      transition: opacity 600ms ease;
    }
    &:hover {
      .arrow {
        margin-right: -5px !important;
      }
      .teaser__img {
        opacity: 0.8;
      }
    }
  }
}
