.video-qa {
  display: flex;
  border-top: solid 0.5px $black;
  border-bottom: solid 0.5px $black;
  margin-bottom: 50px;

  .video-react {
    padding-top: 125% !important;
  }

  &__video {
    width: calc(649 / 1311 * 100%);
    box-sizing: border-box;
    padding-right: 14px;
    border-right: solid 0.5px $black;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__text {
    padding-top: 58.5px;
    width: calc(665 / 1311 * 100%);
    padding-left: 37px;

    &-container {
      padding-right: calc(127 / 681 * 100%);
    }

    h2,
    h3,
    h4 {
      font-family: $raisonne;
      font-size: 20px;
      line-height: 25px;
      font-weight: $weight-demibold;
      margin-bottom: 22px;
      text-decoration: underline;
    }

    p {
      font-family: $muli;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 30px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
