.video-react-volume-menu-button-horizontal {
  width: 2rem !important;
  margin-right: 20px !important;

  &:before {
    width: 1rem !important;
  }
}

.video-react {
  @media only screen and (min-width: 760px) {
    padding-top: 750px !important;
  }

  video {
    object-fit: cover;
  }

  .video-react-control-bar {
    margin-bottom: -100px;
    opacity: 0;
    transition: opacity 600ms ease, margin 400ms ease;
  }
  &:hover {
    .video-react-control-bar {
      margin-bottom: 0;
      opacity: 1;
    }
  }
}

.link--cover {
  &:hover {
    z-index: 9;
    + div {
      .video-react-control-bar {
        margin-bottom: 0;
        opacity: 1;
        z-index: 9999;
      }
    }
  }
}

.video-react-play-control {
  width: 1rem;
  margin-left: 20px;
}

.video-react .video-react-control-bar {
  display: flex;
  justify-content: space-between;
}

.video-react-big-play-button,
.video-react-time-control,
.video-react-progress-control,
.video-react-icon-fullscreen {
  display: none !important;
}

.video-react .video-react-control-bar {
  background: transparent;
}

.video-react .video-react-poster {
  background-size: cover;
}

.video-react .video-react-control-bar {
  height: 7em;
  width: calc(100% - 20px);
  position: absolute;
  bottom: 15px;
  left: 10px;
  right: 10px;
}
.video-react .video-react-control:before {
  font-size: 3.6em;
  line-height: 2.67;
}
