.video-promotion {
  margin-bottom: 120px;
  overflow: hidden;

  @media (min-width: 700px) {
    display: flex;
  }

  &__video-container {
    margin-top: 35px;

    @media (min-width: 700px) {
      min-width: calc(876 / 1329 * 100%);
      .video-react {
        padding-top: calc(492 / 876 * 100%) !important;
      }
    }
  }
  &__text {
    margin-top: 50px;
    text-align: center;

    @media (min-width: 700px) {
      padding-left: 30px;
      padding-right: 30px;
      flex-grow: 1;
    }

    @media (min-width: 1300px) {
      padding-top: 100px;
    }

    h2 {
      font-size: 34px;
      font-family: $raisonne;
      font-weight: $weight-demibold;
      line-height: 50px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 20px;
      font-family: $raisonne;
      font-weight: 100;
      line-height: 25px;
      margin-bottom: 40px;
    }
    p {
      font-family: $muli;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 20px;
    }
  }
}
