.whatson {
  .teaser {
    &-container {
      overflow: hidden;
    }
    &-content {
      &--portrait {
        @media (min-width: 700px) {
          &:nth-child(n + 5):last-child {
            padding-right: 0;
          }
          &:last-of-type {
            .teaser {
              &__img {
                @media (min-width: 1920px) {
                  padding-top: calc(332 / 310 * 100%);
                }
              }
            }
          }
        }
      }
    }
  }
}
