/* Variables */

/* Colours */
$black: #000000;
$white: #ffffff;

/* Object */
$tabs: #225833;
$closed: #f86e25;
$open: #4cd06e;

/* Greyscale */
$greyscale-900: #333333;
$greyscale-500: #7f7f7f;
$greyscale-400: #818181;
$greyscale-100: #e5e5e5;

/* Pink */
$pink-900: #dc3bdd;
$pink-600: #e362e3;
$pink-400: #ed9cee;
$pink-100: #f8d7f8;

/* Blue */
$blue-900: #10f5f5;
$blue-600: #3ff7f7;
$blue-400: #87fafa;
$blue-100: #cffdfd;

/* Dark Blue */
$dark-blue-900: #1e16f0;
$dark-blue-600: #4b44f3;
$dark-blue-400: #8e8af7;
$dark-blue-100: #d2d0fc;
$blue: #343bfc;

/* Green */
$green-900: #5aff29;
$green-600: #7bff53;
$green-400: #acff93;
$green-100: #deffd4;
$l-green: #c5ffb4;

/* Yellow */
$yellow-900: #fcfc34;
$yellow-600: #fcfc5c;
$yellow-400: #fdfd99;
$yellow-100: #ffffd6;
$mustard: #feca58;

/* Orange */
$orange-900: #ffb817;
$orange-600: #ffcb58;
$orange-400: #ffdf96;
$orange-100: #fff2d5;

/* Red */
$red-900: #f21f3f;
$red-600: #f44b65;
$red-400: #f88e9e;
$red-100: #fdd2d8;

$muli: "muli", sans-serif;
$raisonne: "Raisonne", sans-serif;

/* Type scale */
$font-8px: 0.5rem;
$font-10px: 0.625rem;
$font-12px: 0.75rem;
$font-14px: 0.875rem;
$font-16px: 1rem;
$font-18px: 1.125rem;
$font-20px: 1.25rem;
$font-24px: 1.5rem;
$font-30px: 1.875rem;
$font-36px: 2.25rem;
$font-48px: 3rem;
$font-60px: 3.75rem;
$font-72px: 4.5rem;

/* Type weight */
$weight-reg: 500;
$weight-demibold: 600;
$weight-bold: 700;

/* Animation */
$short-duration: 0.15s;
$base-duration: 0.3s;
$long-duration: 0.5s;

/* Media queries */
$xsmall-media: 350px;
$small-media: 600px;
$medium-media: 760px;
$large-media: 960px;
$xlarge-media: 1200px;

/* Spacing */
// $x5msall: 4px;
// $x4small: 8px;
// $x3small: 12px;
// $x2small: 16px;
// $xsmall: 24px;
// $small: 32px;
// $medium: 48px;
// $large: 64px;
// $xlarge: 96px;
// $x2large: 128px;
// $x3large: 192px;
// $x4large: 256px;
// $x5large: 384px;
